[2015-04-01 16:01] DongHongfei opened #717 "Wrong spelling word 'function' in $cordovaSocialSharing docs"
[code]
should be
[code]

[2015-04-01 17:55] #676 closed

[2015-04-01 23:06] beauby opened #719 "SQLite plugin doc"
Two problems there:
- the URL to the source file is wrong (`SQLite.js` instead of `sqlite.js`),
- the example is wrong (the `openDB` method takes two parameters, whereas the example implies that it takes a config object as a parameter).

[2015-04-02 05:05] buunguyen commented on #696
Never mind, it looks like only the `params` options aren't posted. From reading the source, this probably has nothing to do with ng-cordova, but with the native plugin itself.

[2015-04-02 05:05] #696 closed

[2015-04-02 10:17] beauby commented on #683
The problem comes from `$cordovaSQLite`'s `openDB` method #719. It should be called as:
   $cordovaSQLite.openDB("myDB.db")
instead of
   $cordovaSQLite.openDB({ name: "myDB.db" })
The example on the website is misleading (and wrong).

[2015-04-02 10:54] DanailMinchev opened #721 "$cordovaLocalNotification: 'add' event not fired; proposed pull request ignored"
Hi,

I have tested pull request https://github.com/driftyco/ng-cordova/pull/718 and 'add' event is not fired, because according to [Upgrade Guide](https://github.com/katzer/cordova-plugin-local-notifications/wiki/Upgrade-Guide) there is no 'add' event anymore - it is replaced with 'schedule' event.
Moreover new version 0.8 of the plugin is a complete rewrite compared to version 0.7 and *has* a lot

[2015-04-02 13:03] ranrolls commented on #687
for me whole $cordovaFile is not working. I am using ionic and ngCordova. My solution to problem was using

                                                 cordova.exec(function(result) {
							// alert("Free Disk Space: " + result);
							toastr.info(result);
						}, function(error) {
							// alert("Error: " + error);
							toastr.info(error);
						}, "File", "getFreeDiskSpace", []);

My

[2015-04-02 13:04] ranrolls commented on #681
I am unable to use $cordovaFile service provided by ngCordova.

Can u help with it.

Thanks in advance.

[2015-04-02 13:05] ranrolls commented on #656
For me whole $cordovaFile is not working

angular.module('root')
	.controller('CordovaFileCtrl', ['toastr','$scope', '$ionicPlatform', '$cordovaFile', 'GlobalSettings', 'DSCacheFactory', CordovaFileCtrl]);

// $cordovaFile.getFreeDiskSpace()
							  // .then(function (success) {
									// // success in kilobytes
									// toastr.success('Operation Success');
									// // toastr.info(sucess)

[2015-04-02 13:06] ranrolls commented on #593
I am not even able to use the core $cordovaFile functions.
Can u help
Thanks in advance

greatwebist@outlook.com

[2015-04-02 13:07] ranrolls commented on #583
I am not even able to use the core $cordovaFile functions.
Can u help
Thanks in advance

greatwebist@outlook.com

[2015-04-02 13:07] ranrolls commented on #514
I am not even able to use the core $cordovaFile functions.
Can u help
Thanks in advance

greatwebist@outlook.com

[2015-04-02 13:09] ranrolls commented on #506
I am not even able to use the core $cordovaFile functions.
Can u help
Thanks in advance

greatwebist@outlook.com

[2015-04-02 13:09] ranrolls commented on #397
I am not even able to use the core $cordovaFile functions.
Can u help
Thanks in advance

greatwebist@outlook.com

[2015-04-02 13:11] benwingz commented on #681
Can you be more specific ?
(If your plugin is well installed don't forgot to load it in your dependancies in the beggining of your controller) like this:

angular.module('myModule')
.controller('MyCtrl', function($scope, $cordovaFile) { ...

[2015-04-03 00:26] mhartington opened #723 "Cordova docs have moved"
The docs for all the official cordova plugins has moved.

https://github.com/apache/cordova-plugin-camera/blob/master/doc/index.md#orgapachecordovacamera

May be best to just point to the root of the repo

https://github.com/apache/cordova-plugin-camera/

[2015-04-03 08:04] ranrolls commented on #519
Getting 1000 and 5 no. error code

after using following code

                                                        // $cordovaFile.createDir('/pics/')
							  // .then(function (success) {
								// // success
									// toastr.success('Directory Created');
							  // }, function (error) {
									// // error
									// toastr.error(error);
									// toastr.info('v0.0.18');
									//

[2015-04-03 09:29] mebibou commented on #624
It has been [fixed](https://github.com/driftyco/ionic/commit/1f2d900e3c3e0845a6a7a03db9e5652a29dea7bd) in the angular library for ionic, why not for ngCordova?!

[2015-04-03 10:37] #717 closed

[2015-04-03 15:07] beauby commented on #723
First link is dead.

[2015-04-03 20:21] MateenKadwaikar commented on #60
0
down vote
I am also facing the same issue. This is my controller

.controller('MapCtrl', ['$scope', '$rootScope', '$cordovaNetwork',

    function($scope, $rootScope, $cordovaNetwork) {

        $ionicPlatform.ready(function() {

            var type = $cordovaNetwork.getNetwork()

            var isOnline = $cordovaNetwork.isOnline()

            var isOffline = $cordovaNetwork.isOffline()

[2015-04-03 20:28] MateenKadwaikar commented on #710
Check this out . It was working fine for me.

app.js file

 .controller('MapCtrl', ['$scope', '$cordovaBarcodeScanner',
        function($scope, $cordovaBarcodeScanner) {

               $scope.getPicture = function() {
                $cordovaBarcodeScanner.scan().then(function(imageData) {
                    alert(imageData.text);
                    console.log("Barcode Format -> " + imageData

[2015-04-03 20:29] MateenKadwaikar opened #725 "$cordovaNetwork: TypeError: Cannot read property 'type' of undefined"
I am also facing the same issue. This is my controller

.controller('MapCtrl', ['$scope', '$rootScope', '$cordovaNetwork',

    function($scope, $rootScope, $cordovaNetwork) {

        $ionicPlatform.ready(function() {

            var type = $cordovaNetwork.getNetwork()

            var isOnline = $cordovaNetwork.isOnline()

            var isOffline = $cordovaNetwork.isOffline()

            //

[2015-04-04 04:57] abedalzain commented on #710
Thanks it works fine now.

[2015-04-04 17:58] darmie opened #726 "Problem with Blackberry10"
Blackberry10 cordova app seems to be having problems with ng-cordova

error messages from web inspector:
``adding proxy for Geolocation cordova.js:947
Failed to load resource local:///js/ng-cordova_plugins.js
TypeError: undefined is not an object (evaluating 'window.cordova.plugins.Keyboard') app.js:14
module cordova/plugin_list not found ionic.bundle.js:19387``

[2015-04-04 18:01] mlynch commented on #726
We don't support blackberry as a platform in ngCordova. However, this issue
appears to be related to the ionic starter template just not checking for
window.plugins first (which I recently fixed today).

Closing, thanks!

On Sat, Apr 4, 2015 at 12:58 PM, darmie <notifications@github.com> wrote:

--
Max Lynch
CEO and Co-founder
http://ionicframework.com/

[2015-04-04 18:02] #726 closed

[2015-04-05 17:28] wootwoot1234 opened #727 "Link to official docs in media plugin is broken."
Link to official docs in media plugin is broken.  Should be:

https://github.com/apache/cordova-plugin-media

[2015-04-05 17:53] paulogr opened #728 "It's impossible to use ngCordova !"
It doesn't have even half othe its services mocked !

It's impossible to continue developing an application after install some plugins via ngCordova.

It's frustrating.

I'm trying to ship the source code to a client but he wouldn't be able to test in a browser. He won't be able to continue the development or change anything because the app just won't work on browser.

If I make pull requests to n

[2015-04-05 18:35] wootwoot1234 opened #729 "REQUEST: Encode audio plugin"
It would be great if an encode audio plugin was added.  Recording audio in wav format is a huge storage hog.  This plugin works great:

https://github.com/wootwoot1234/cordova-phonegap-audio-encode

[2015-04-06 01:34] anderson916 opened #730 "Plugin 'BarcodeScanner' not found"
Hi,

I checked out the master branch and v0.1.14-alpha branch. Then I run 'ionic platform add ios'. I can see many plugins were installed successfully. But when I run this project, I got the exception:

2015-04-06 09:30:39.828 ngCordova Demo[362:24412] CDVPlugin class CDVBarcodeScanner (pluginName: BarcodeScanner) does not exist.
2015-04-06 09:30:39.828 ngCordova Demo[362:24412] ERROR: Plugin 'Bar

[2015-04-06 04:22] felquis opened #731 "Problems to setup Facebook Plugin in the browser"
I'm getting this error:

[code]

I'm using this:
[code]

I'm trying to run the project with `cordova run browser`, so, I'm not sure what could be wrong.

[2015-04-06 04:36] felquis commented on #731
I think `browserInit` need to be inside platform ready.

[2015-04-06 05:03] felquis commented on #731
this.browserInit = function (id, version) {
      this.appID = id;
      this.appVersion = version || "v2.0";

      facebookConnectPlugin.browserInit(this.appID, this.appVersion);
    };

[code]

[2015-04-06 23:03] ldeavila commented on #697
+1

[2015-04-07 03:16] #728 closed

[2015-04-07 07:25] Duovili opened #732 "datepickker crashes when I hit cancel."
The Plugin works great but when I hit cancel the page crashes and I cant run the function again to call the plugin again. Is there a return value I have to check for when the user cancels?

[2015-04-07 08:45] umbrella-anton-karmazin opened #733 "Wrong admob api using"
On page http://ngcordova.com/docs/plugins/adMob/ has link to https://github.com/floatinghotpot/cordova-admob-pro, but in code use api from  https://github.com/floatinghotpot/cordova-plugin-admob

[2015-04-07 10:11] karmazzin commented on #733
I corrected the wrong API on the correct version.

[2015-04-07 10:27] sidchilling opened #735 "Making a plugin"
How to create a new ngCordova plugin for a cordova plugin? I want to make one for https://github.com/vliesaputra/DeviceInformationPlugin

[2015-04-07 21:18] nicklx opened #736 "BluetoothSerial connect function"
The BluetoothSerial documentation states for the `connect` function:

"The callback is long running. Success will be called when the connection is successful. Failure is called if the connection fails, or later if the connection disconnects".

Given on connection the promise is resolved, the failure callback is never called. I'm not entirely sure how to go around fixing this. Looking at the Angula

[2015-04-08 16:27] paroos opened #738 "Question: Why do you handle module-mocks.js and module.js different?"
Hi

Why do you handle the angular module initialization module-mocks.js and module.js different?

**module-mocks.js**

[code]

**module.js**

[code]

Kind regards, patrick

[2015-04-08 16:55] sean-hill commented on #430
I'm having this exact same issue, any updates to this?

[2015-04-09 02:43] aka-Ani commented on #735
I'm not too knowledgeable on how to contribute to the ngCordova project with your custom implementation of a plugin, but making an angular wrapper for a plugin is not too difficult. Basically, take a look at the ng-cordova plugins folder:
https://github.com/driftyco/ng-cordova/tree/master/src/plugins

You can see there is a js file for each wrapper. Let us take the ble.js file for example:
https:/

[2015-04-09 09:19] deliverymanager commented on #731
I had the exact same problem!
And solved it your way!
Well if you think about it, in the Ng-Cordova,  the FacebookCordovaProvider is called to initiate the FB SKD even before its files are launched.
I think this problem existed from the creation of the ng-cordova.
It is a bug related only to ng-cordova as if we used purely the facebook connect plugin that the ng-cordova uses, then this would not b

[2015-04-09 12:46] sidchilling opened #740 "DeviceInformation plugin"
Plugin for https://github.com/vliesaputra/DeviceInformationPlugin

Can we get this integrated? I am having a hard time understanding how to do this?

[2015-04-09 13:11] sidchilling commented on #735
I still could not get this working :(

I am more interested in getting this plugin working for my project rather than contributing to ngCordova. Once, I get this running in my project - I will be in a better position to contribute.

[2015-04-09 13:16] aka-Ani commented on #735
Well what is the issue you're running into exactly? Did you make sure to add the plugin to the ionic project with "cordova plugin add ..."? The angular wrappers/ng-cordova still need you to add the plugin separately.

[2015-04-09 13:17] sidchilling commented on #735
Here's what I did to get this work in my project -

- Installed the plugin using cordova plugin add
- Did ionic platform rm android
- Did ionic platform add android
- Then I added the following code to ng-cordova.js which I am including in my index.html

    angular.module('ngCordova.plugins.deviceInformation', [])
        .factory('$cordovaDeviceInformation', ['$q', '$window', function ($q, $wind

[2015-04-09 13:33] aka-Ani commented on #735
You got it working? That's great! Honestly though, for such a simple plugin that only has one function, I don't really see the need for constructing an angular wrapper for it. It takes only a couple lines to get the data you need. But in any case, in your code for the wrapper, the code inside the `function()` block after the `defer()` call should basically be the same code as you would have if you

[2015-04-09 13:37] sidchilling commented on #735
Hey, I am sorry - I did not get this working.

So, what you are saying is I don't  need an angular plugin and just call the code snippet inside the function that you wrote.

In that case, I get `cordova` is not degine and don't see the cordova/plugin/DeviceInfomation anywhere in  the project? Where should I be looking at?

Regarding the angular wrapper, I tried using it by injecting $cordovaDevice

[2015-04-09 13:52] sidchilling commented on #735
I think I got this working - will update in a few moments with the details.

[2015-04-09 17:07] napcat opened #741 "PushNotification plugin WP8"
Hello,
The examples on this site http://ngcordova.com/docs/plugins/pushNotifications/ doesn't show any way to setup push notification for WP8. I tried to mimic the Android and iOS examples without success.

Right now I have something like this, but it's not working:

[code]

If I try to debug the PushPlugin.cs I can see an error:
[code]

Is there any working example where push notification are wor

[2015-04-09 19:07] ukie commented on #398
For all of you having problems and needing some info, this worked for me using Visual Studio Tools for Apache Cordova (code from my index.html page, inside "head" section). <br />
Note how I am referencing the SQLite plugin, even though in my app folder hierarchy, it sits under , plugins/com.brodysoft.sqlitePlugin/www/<br />

    <script src="scripts/ionic.bundle.js"></script>

    <script src="sc

[2015-04-09 20:23] zeronil opened #742 "$cordovaInAppBrowser.setDefaultOptions not working"
Trying to do this:

$cordovaInAppBrowser.setDefaultOptions(inAppBrowserOptions);

Results in the following error:

Uncaught TypeError: Object #<Object> has no method 'setDefaultOptions'

To get it to work I moved the setDefaultOptions function in ngCordova.plugins.inAppBrowser (ng-cordova.js) inside of the return

        return {

        setDefaultOptions: function (config) {
          defaultOp

[2015-04-10 12:57] gerbil commented on #262
Insomnia please!
https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin/

[2015-04-12 16:44] kunalnagar opened #743 "ngCordova Geolocation Times out on Nexus 5"
I'm testing the ngCordova Geolocation service on a Nexus 5 and it is timing out every time.

Phone: Nexus 5 with Android Lollipop 5.1
Location Services: Turned on with Battery Saving Mode
Run Environment: ionic run android -l (using LiveReload)

Here is the error:

[code]

and here is my code (nothing special):

[code]

Anyone know why this is happening? Same code is working on One Plus One and Sa

[2015-04-13 00:17] iver56 commented on #454
I just experienced this issue.

My custom build had code like this:
[code]
That didn't work. It threw errors. The custom build worked only after I changed that code to the following:

[code]

@pbernasconi As far as I know, this issue still persists, although you closed it. https://github.com/driftyco/ng-cordova/issues/348 is about a missing `s` in some lines and is a different issue.

[2015-04-13 00:58] iver56 opened #744 "Inconsistent whitespace in custom build"
As you can see in the screenshot below, line breaks and indentation (tabs/spaces) is inconsistent in custom builds that I get at http://ngcordova.com/build/

![image](https://cloud.githubusercontent.com/assets/1470603/7108502/a1eaaa14-e188-11e4-82b7-bba8a9998ea2.png)

This can cause incorrect diffs on github, amongst other things

[2015-04-13 09:09] MayankLogiciel opened #745 "Downloading not cancelling with $cordovaFileTransfer and no documented example for cancelling downloading or uploading"
Details:
 * ngCordova v0.1.12-alpha
* org.apache.cordova.file-transfer v "0.5.0",

//in short what i am doing
var downloadCancel = $cordovaFileTransfer.download(url, targetPath, downloadOptions, trustHosts)
 .then(function(result){
     console.log(completed);
 },function(error){
  console.log(error);
});

//aborting downloading
downloadCancel.abort();

But after aborting current download, it stil

[2015-04-13 15:44] javanrell opened #746 "Error on doc of ngCordoba pushNotification"
Hi, on the example of push notification for android instead of
$cordovaPush.register(config).then(function(result) {
should be
$cordovaPush.register(androidConfig).then(function(result) {

[2015-04-14 06:43] Tzafra commented on #494
@pbernasconi that worked for me, using ionic.  thanks!  why doesn't it work otherwise?

[2015-04-14 14:37] increos commented on #677
Sorry if this has been answered...but has update happened ?

[2015-04-14 16:25] DanailMinchev commented on #677
@increos
No, my pull request is not merged yet.

However, there is partial update, which is merged.
Described here: https://github.com/driftyco/ng-cordova/issues/721

[2015-04-14 16:51] EdL commented on #733
Hi, this has been mentioned back here in case you are interested:
https://github.com/driftyco/ng-cordova/issues/360

[2015-04-14 18:27] tharrington commented on #672
have you solved this issue?

[2015-04-14 20:29] increos commented on #677
@DanailMinchev  Thanks for the response. Adding my +1

[2015-04-15 00:01] dwimberger commented on #541
Actually isEnabled() in $cordovaBLE returns a promise, so your code should read:

    .run( function($ionicPlatform, $cordovaDialogs, $cordovaBLE) {
      $ionicPlatform.ready(function() {
          $cordovaBLE.isEnabled().then(
              function() {
                  $cordovaDialogs.alert("Bluetooth LE is enabled", "Bluetooth LE", "GREAT!");
              },
              function() {

[2015-04-15 00:10] dwimberger opened #750 "$cordovaBLE wrapper only returns first device found for scan"
The current implementation of the wrapper for ble will return the first device result from the scan to the promise, the scan will continue anyway for the time specified.

Somehow this is not what I expected from the scan method semantics and limits the usefulness of the wrapper.

To fix this issue I have modified the wrapper to collect devices for the time it was asked to scan and return the list

[2015-04-15 00:35] dwimberger commented on #665
evothings/cordova-ble states

    Cordova versions 4.0.0 and later are not supported.

https://github.com/don/cordova-plugin-ble-central#:/plugin

This one works and is referenced from the source, so I made a Pull Request #751 to correct the link in the Readme.

[2015-04-15 21:23] 0reo commented on #454
I got hit by a double whammy, this is what was generated for me just today

[code]

had to add in the ngCordova.plugins AND an s to google analytics to get it working

[code]

[2015-04-16 12:47] moglash commented on #615
I has the same error. Any solution or workaround to this?

[2015-04-16 13:55] mbarzeev opened #754 "Bug: $cordovaLocalNotification is not aligned with cordova-plugin-local-notifications"
Hi guys,

When trying to use the "add()" method of the plugin mentioned above I receive the message:
"Depreated: Please use `notification.local.schedule` instead."
BTW - there are other API's which might be useful to introduce to ngCordova wrapper such as "get()".

Many thanks and keep on the good work!

[2015-04-17 05:09] mrzmyr opened #755 "Version number wrong in latest tag (v0.1.14-alpha)"
The verion number is wrong in the latest tag (v0.1.14-alpha, https://github.com/driftyco/ng-cordova/blob/v0.1.14-alpha/dist/ng-cordova.js#L3)

[2015-04-17 10:07] anuragbhd opened #756 "Geolocation: Watching for location updates in background"
Using the [geolocation](http://ngcordova.com/docs/plugins/geolocation/) plugin, is it possible to watch for location updates while the app is in background? Or does watchPosition() method work only when the app is in foreground?

Also, is it possible to use a Cordova plugin with ngCordova that is not in the officially supported listed, such as [cordova-plugin-background-geolocation](https://github

[2015-04-17 11:04] MayankLogiciel commented on #641
instead of project-id use project number in senderID

[2015-04-17 16:06] mypark opened #757 "cordovaOauth Could not find InAppBrowser plugin error"
Not sure what I'm missing but I added the plugin and and added the ngCordova code but I get the error "Could not find InAppBrowser plugin" when I try to use the cordovaOauth plugin.

This is after I add ngCordova as usual and then add plugin via
 cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git

and call it like

     $cordovaOauth.facebook("CLIENT_ID_HERE

[2015-04-17 16:38] mypark commented on #757
doing

`cordova plugin add org.apache.cordova.inappbrowser`

instead seems to have fixed it

[2015-04-17 16:38] #757 closed

[2015-04-20 08:20] fretman92 opened #759 "$cordovaKeyboard lacks the method .show()"
Hi, why does this factory lack the .show() method that allows to open the keyboard on Android ?

Even if it's an [Android only feature](https://github.com/driftyco/ionic-plugins-keyboard#keyboardshow), it does not break the functionnality on iOS or other platfroms.

Here is the function I'd add in [$cordovaKeyboard](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/keyboard.js#L14):

[2015-04-20 08:51] smallg commented on #641
@MayankLogiciel I already instead this number, but still can not work.
https://github.com/smallg/ionic-plugin-test/blob/master/www/js/app.js

[2015-04-20 14:15] phox081 commented on #728
Have you solved?
Why did you closed this issue?

[2015-04-20 14:17] mlynch commented on #728
Hi there,

Most of the plugins require you to test on the device to have any
functionality. It is a native plugin wrapper, after all.

In the future I'd love to have more mocking, but that's a Hard Problem.

On Sun, Apr 5, 2015 at 12:53 PM, Paulo Guilherme Rodrigues <
notifications@github.com> wrote:

--
Max Lynch
CEO and Co-founder
http://ionicframework.com/

[2015-04-21 09:17] DanailMinchev commented on #754
[Update $cordovaLocalNotification](https://github.com/driftyco/ng-cordova/issues/677)
[$cordovaLocalNotification: 'add' event not fired; proposed pull request ignored](https://github.com/driftyco/ng-cordova/issues/721)

[Update $cordovaLocalNotification to latest plugin version](https://github.com/driftyco/ng-cordova/pull/688)
[Update $cordovaLocalNotification documentation](https://github.com/dri

[2015-04-21 15:47] sfielder opened #762 "pushNotifications not broadcasting"
Using the provided example code provided from http://ngcordova.com/docs/plugins/pushNotifications/ to register and receive push notifications.

1) Registration works perfectly.
2) Receive notifications fine when in background or device locked mode
3) Unable to successfully receive push notifications when app is in foreground.

I have added some debug alerts to onNotification
[code]

both alerts po

[2015-04-21 17:23] #762 closed

[2015-04-21 21:25] pmn4 commented on #360
to use the plugin `com.google.cordova.admob` you want [`$cordovaGoogleAds`](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/googleAds.js)
on the otherhand, to use `com.rjfun.cordova.plugin.admob` you want [`$cordovaAdMob`](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/adMob.js).

Here is [a PR to update the docs](https://github.com/driftyco/ng-cordova/pull/763)

[2015-04-21 22:41] jonchenn opened #764 "Angular 2.0 support"
As title.

[2015-04-21 22:45] mlynch commented on #764
I love the eagerness! Be patient though, we are doing Ionic v2 w/ Angular 2 first, then ngCordova. ngCordova is a crucial part of Ionic, so rest assured we will make a similar improvement :)

[2015-04-22 09:34] EdL commented on #360
Hi @pmn4 Thanks for pointing this out - I hadn't spotted the $cordovaGoogleAds code and it's been there for the past few months! Thanks for updating the docs. Hopefully it will clarify things for others!

[2015-04-22 13:33] Duovili opened #765 "ReferenceError: cordova is not defined"
When using the cordova badge plugin it breaks my project with the above error.

[2015-04-22 14:00] #765 closed

[2015-04-22 14:29] vladipus opened #766 "Implement `trackException` in `$cordovaGoogleAnalytics`"
The functionality seems to be available in the plug-in already, but not in ng-cordova:
https://github.com/danwilson/google-analytics-plugin#javascript-usage

The link to the wrapper's sources is also broken here:
http://ngcordova.com/docs/plugins/googleAnalytics/

[2015-04-22 14:33] vladipus commented on #766
Supposed implementation (untested!):

[code]

[2015-04-22 20:37] jonchen92 commented on #764
Sounds good, looking forward to seeing the progress!

[2015-04-23 10:43] topless opened #767 "Directories cannot be found if they contain + or - characters in their name."
Although this is a legit path for storing data etc ..
cordova.file.externalDataDirectory/+10/other_stuff

When I am trying `$cordovaFile.checkDir(cordova.file.externalDataDirectory, '+10').then(...)`
It returns Not Found error. If I replace the character '-' or '+' it is resolved properly.
I went through the file plugin code but didn't spot out anything, so I am guessing it might have something to

[2015-04-23 17:28] buunguyen commented on #610
Try this in the lib folder: `npm install && bower install && gulp karma`

[2015-04-23 19:36] pbernasconi commented on #610
@buunguyen hit it on the nail. If you submit a PR -- github will check the unit tests as a last-check too.

[2015-04-23 19:36] #610 closed

[2015-04-23 19:37] pbernasconi commented on #762
I assume @sfielder closed this because it was resolved?

[2015-04-23 19:57] agustinf commented on #746
This is now solved... this issue should be closed!

[2015-04-23 19:59] #746 closed

[2015-04-23 20:00] Honza-R commented on #651
This issue should be fixed, the current code behaves bad when used as shown in the documentation - passing the object to $cordovaSQLite.openDB leads to using a JSON string built from this object to be used as a filename for the database. This leads to various problems and makes it impossible to open a SQLCipher database properly.

[2015-04-23 20:03] agustinf opened #769 "Error on Example - iOS for $cordovaPush"
The example goes like this
[code]
but it should be
[code]
All versions of the plugin I could find call back with a string that contains the token, not an object. [See here](https://github.com/phonegap-build/PushPlugin/blob/master/src/ios/PushPlugin.m#L190)

[2015-04-24 00:15] pbernasconi commented on #769
@agustinf thanks for spotting that, do you mind making a PR with the correct changes?

[2015-04-24 00:22] agustinf commented on #769
I surely would if you point me to the right repository and file

[2015-04-24 00:24] pbernasconi commented on #769
See if this page works: [edit /plugins/pushNotifications](https://github.com/driftyco/ng-cordova/edit/gh-pages/docs/plugins/pushNotifications/index.md).

[2015-04-25 23:07] ms88privat commented on #8
+1 ?

[2015-04-26 10:27] jskrzypek opened #771 "Feat: Support cordova 5.0.0 plugins"
See Cordova's blog posts about the [new tools release](http://cordova.apache.org/news/2015/04/21/tools-release.html) and the [new plugin system](http://cordova.apache.org/announcements/2015/04/21/plugins-release-and-move-to-npm.html)

Will ngCordova switch over sometime soon and what if anything might be required of projects using ngCordova to migrate? (I have the same questions regarding `ionic`

[2015-04-26 21:52] DarrylD opened #772 "$cordovaInstagram not cant find Instagram plugin"
Added the cordova plugin
`cordova plugins add https://github.com/vstirbu/InstagramPlugin`

Added `ng-cordova.js` (before `cordova.js`) in the `index.html`.

Added `ngCordova` to the angular app dependency list and can successfully inject `$cordovaInstagram`.

Example of code:
[code]

The problem is that `window.Instagram` isn't available.

[code]

Any idea why the plugin isn't loading? Any step i'

[2015-04-27 06:27] ctaepper opened #773 "bad usability for some of the plugins"
ok, i am quite new to ionic/cordova, i am building my first real hybrid app for a client right now and i run into bad usability of some plugins.

for instance the camera plugin: http://ngcordova.com/docs/plugins/camera/
i understand tha ng-cordova is just an angular-layer on top of the cordova plugins. so to my understanding, i should only need to use the angular service in my app. however, the $c

[2015-04-27 17:16] tizianozonta opened #774 "InAppBrowser plugin renamed"
Installing InAppBrowser

`cordova plugin add org.apache.cordova.inappbrowser`

I get this message

`WARNING: org.apache.cordova.inappbrowser has been renamed to cordova-plugin-inappbrowser. You may not be getting the latest version! We suggest you 'cordova plugin rm org.apache.cordova.inappbrowser' and 'cordova plugin add cordova-plugin-inappbrowser'`

all "if" statement like this

`if(cordovaMeta

[2015-04-27 21:26] laidig commented on #756
I second this question if someone is able to answer.

[2015-04-27 21:45] 0reo commented on #395
yes
http://ngcordova.com/docs/common-issues/

[2015-04-28 01:10] anuragbhd commented on #756
@laidig Fortunately, [cordova-plugin-background-geolocation](https://github.com/christocracy/cordova-plugin-background-geolocation) is now part of ngCordova. More details here http://ngcordova.com/docs/plugins/backgroundGeolocation/.

[2015-04-28 04:46] brayancastrop opened #775 "Oauth linkedin modifies global header Content-Type to 'application/x-www-form-urlencoded'"
After digging in the oauth code i noticed this change to global headers

$http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

which makes any subsequent post in the app to use that header instead the original default (Content-Type: application/json), i think we can avoid this by supplying a headers property in the config object passed when calling $http(config), whic

[2015-04-28 06:39] hbmartin commented on #172
@pbernasconi  I have my plugins ordered as ionic.bundle.js, ng-cordova.js, cordova.js (in <head>) but am still having this issue

[2015-04-29 11:45] chinteregger commented on #745
Hi Mayank,

i faced the same problem when trying to abort the file transfer. Therefore, i overwrite the ngCordova file transfer plugin with my own plugin supporting abort functionality (just a few lines of code).

![image](https://cloud.githubusercontent.com/assets/1607930/7390188/9cb28306-ee75-11e4-9e3f-a763c253fa98.png)

I store the FileTransfer object temporarily (this.ft). This enables the acc

[2015-04-29 12:35] Yuripetusko opened #776 "$cordovaPush.unregister() is not working"
I still receive notifications after unregistering

platform: android

[2015-04-29 20:53] ajhades commented on #641
Hi, I had the same problem and i had solve it so ...

**androidConfig** the object adds the **ecb** point to a function like "http://stackoverflow.com/questions/28677612/android-pushnotifications-with-pushplugin-on-emulator/28681145#28681145/" and what I did is to use
[code]
to trigger an event when you register or a message arrives, etc

...sorry for my bad English

[2015-04-29 20:54] ajhades commented on #641
Hi, I had the same problem and i had solve it so ...

**androidConfig** the object adds the **ecb** point to a function like "http://stackoverflow.com/questions/28677612/android-pushnotifications-with-pushplugin-on-emulator/28681145#28681145/" and what I did is to use
[code]
to trigger an event when you register or a message arrives, etc

...sorry for my bad English

[2015-04-30 13:40] an-sanketbiniwale opened #778 "File Download Auth Header Problem- Http 403 error"
I am trying to download a file from server which requires the authentication. I am creating the download request like this -

[code]

The above code is going to err and printing
[code]

However when I pass the same generated token to the same url using curl request, the data gets successfully printed in the console.

[code]

[2015-04-30 13:53] root-io commented on #778
'Authorization': 'Basic ' + getAuthToken()

[2015-04-30 14:04] virix opened #779 "Local Notification events bug"
$window.plugin.notification.local.on("click", function (id, state, json) {
      var notification = {
        id: id,
        state: state,
        json: json
      };
      $timeout(function () {
        $rootScope.$broadcast("$cordovaLocalNotification:clicked", notification);
      });
    });

should be:

    $window.plugin.notification.local.on("click", function (notification) {
      $timeout

[2015-05-01 20:57] TrevorJTClarke opened #781 "Email Composer Docs Link, need update"
Hello!
I just tried to grab the plugin via the example in the docs:
cordova plugin add https://github.com/katzer/cordova-plugin-email-composer.git@0.8.2

This seemed to cause an issue.
Instead I used:
cordova plugin add https://github.com/katzer/cordova-plugin-email-composer
and all worked well.

[2015-05-04 13:37] ningod opened #783 "On $cordovaOauth is not possible to change the callback url"
It may be usefull to have an options parameter on  $cordovaOauth to set different callback urls

[2015-05-05 13:52] bostondv commented on #759
+1

[2015-05-06 00:05] ShiyangHuang opened #785 "$cordovaDialogs.prompt can not change the title!"
It shows index.html all the time.
code here
$cordovaDialogs.prompt('Create New Folder','New Title');
on IOS emulate, newest one
![image](https://cloud.githubusercontent.com/assets/6767493/7485333/0390b5fc-f362-11e4-9fb2-3d3f2d3e7a9f.png)

[2015-05-06 00:08] smallg commented on #641
@ajhades can you show gcm server code for me?
my code in there https://github.com/smallg/ionic-plugin-test/blob/master/gcm-server/gcm-server.js
Thank you very much.

[2015-05-06 04:26] MayankLogiciel commented on #641
// At least one reg id required
registrationIds.push('bionic-path-854');

bionic-path-854 is not a registration Id.
You will get registration id when following case get executed from within your code

case 'registered':
                        if (notification.regid.length > 0) {
                            alert('registration ID = ' + notification.regid);
                        }

[2015-05-06 13:27] ajhades commented on #641
Hello,
This is the code I'm using PHP, I have taken from a template but worked well.
https://github.com/ajhades/gcm-example-php/blob/master/example.php

I hope it's helpful

regards

[2015-05-07 10:00] vqoph commented on #773
I have the same issue

[2015-05-07 10:12] JChanut commented on #697
+1

[2015-05-07 13:01] adrianmkofficial commented on #446
Anyone fixed this issue or has a temporary solution? I'm currently facing the same Problem as @sean-hill  :/ Maybe an alternative Library / Approach might help?

[2015-05-07 20:11] agliottone commented on #697
=3

[2015-05-08 07:21] pepetox commented on #172
I only have this problem in android 2.3.6, with 5.1 works fine but....

Any solution?

[2015-05-08 07:28] pepetox commented on #586
Hi,

I have the same problem, the app works fine in browser and newer version of android but in 2.3.6 (Gingerbread) the app stay in a white screen after add the ng-cordova.

[2015-05-08 07:39] mikeon commented on #430
I also, didn't find solution for that issue.

[2015-05-08 07:53] Pijuli commented on #697
+1 = 4
What happened with that?

[2015-05-08 08:01] 11lein opened #788 "Feat: enhance cordovaToast mock"
I would like to enhance the toast mock to get a feedback in the browser.

Please suggest me a solution.

1. simple console.log(message)
2. use https://developer.mozilla.org/en/docs/Web/API/notification (won't work in all browsers)
3. make a very simple toast function e.g. showing the message on top centered and hide it after 5 seconds.

[2015-05-11 12:02] dohomi commented on #262
+1 for https://github.com/j3k0/cordova-plugin-purchase

[2015-05-11 17:17] napcat commented on #774
+1

Updated to cordova 5, and I'm also changing that line.
Probabli you will need to leave both validations to keep it compatible with older cordova builds.

[2015-05-11 22:36] jfrumar opened #790 "Custom build incorrectly references module dependencies"
I just built a custom JS file:

[code]

It fails with ```Uncaught Error: [$injector:modulerr] Failed to instantiate module groupAhead due to:
Error: [$injector:modulerr] Failed to instantiate module ngCordova due to:
Error: [$injector:modulerr] Failed to instantiate module ngCordova.plugins due to:
Error: [$injector:modulerr] Failed to instantiate module file due to:
Error: [$injector:nomod] Modul

[2015-05-11 22:59] nraboy commented on #783
In my parent repo, this is possible:

https://github.com/nraboy/ng-cordova-oauth

You would set `options.redirect_uri` to whatever you want, otherwise it will use the default of `http://localhost/callback`.  I haven't had a chance to merge this version of the library with Driftyco's ngCordova.

Regards,

[2015-05-12 06:36] asanka-x commented on #772
Hey I also ran into the same problem, did you find any solution ? or what is the cause. I did check ng-cordova.js also, but everthing seems to fine there

[2015-05-12 07:07] freiserg commented on #262
cordova-plugin-purchase must have for ionic platform.

[2015-05-12 13:09] jonnysmith1981 opened #792 "$cordovaFile.checkDir says folder does not exist but $cordovaFile.createDir says folder already exists"
I am trying to work with the ngCordova File plugin as documented here: http://ngcordova.com/docs/plugins/file/, but am getting strange behaviour.

I am trying to create a folder if it does not already exist. I am testing for its existence using:

$cordovaFile.checkDir(cordova.file.dataDirectory, 'inbound')

Now this returns NOT_FOUND_ERR so i try to create the folder subsequently by calling:

$cor

[2015-05-12 13:47] jonnysmith1981 commented on #792
I didn't read the manual - sorry. Nothing to see here.

[2015-05-12 13:58] DanailMinchev commented on #721
The pull requests are now merged. I'm closing this issue.

Also, https://github.com/driftyco/ng-cordova/issues/677 https://github.com/driftyco/ng-cordova/issues/754 should be closed as well

[2015-05-12 13:58] #721 closed

[2015-05-12 14:06] DanailMinchev commented on #677
@GIANTCRAB the pull request is merged. You can close the issue now.
Thank you!

[2015-05-12 14:11] jonnysmith1981 commented on #792
I have now set the config.xml to match my requirements for accessing cordova.file.dataDirectory but i am still getting the above errors.

[2015-05-12 14:23] #677 closed

[2015-05-12 14:26] DanailMinchev commented on #754
@mbarzeev the pull request is merged. You can close the issue now.
Thank you!

[2015-05-12 15:26] DarrylD commented on #772
@asanka-x I gave up and decided to use http://ngcordova.com/docs/plugins/socialSharing/

You can choose IG on the device shared list (or whatever it is...). Not as good as going directly to IG, but works nonetheless.

[2015-05-12 20:20] gortok opened #793 "Contributor Guidelines and Coding Standard"
I've forked ngCordova/ngCordovaMocks to provide a compatible BluetoothLE plugin wrapper for Cordova 4.0+; and in the course of writing the code, I wanted to make sure I'm following whatever guidelines are out there.  I don't presently see any guidelines, and some files have a mixture of tabs and spaces (some files use tabs, some use spaces).

So for guidelines:

What JSLint or JSHint settings shou

[2015-05-12 20:22] mlynch commented on #793
Hey George,

Good point, we should clarify that. For JS we use 2 spaces. Need to go back
and apply that to all files.

On Tue, May 12, 2015 at 3:20 PM, George Stocker <notifications@github.com>
wrote:

--
Max Lynch
CEO and Co-founder
http://ionicframework.com/

[2015-05-12 20:36] gortok commented on #793
@mlynch Are there any JSHint or JSlint specific settings this project uses to ensure code style remains the same?

[2015-05-12 21:44] pbernasconi commented on #793
I think we would make use of [JSCS](http://jscs.info/) for the formatting issue. I'll look into it!

[2015-05-12 22:10] #754 closed

[2015-05-12 22:33] pbernasconi commented on #793
Done. https://github.com/driftyco/ng-cordova/blob/master/gulpfile.js#L84

Usage:
[code]

[2015-05-12 22:33] #793 closed

[2015-05-13 07:01] mbarzeev commented on #754
Many thanks :)

[2015-05-13 08:52] rknell opened #795 "Progress Indiciator platforms description is incorrect on ngCordova website"
Hi Y'all

In this link it lists android as one of the compatible platforms:
http://ngcordova.com/docs/plugins/progressIndicator/

However on the developers site it is not yet supported:
http://paolobernasconi.com/cordova-progressIndicator/

Only noticed it after nothing was happening on my Android so can confirm its accurate.

R

[2015-05-13 14:40] OSSDeveloper opened #796 "Issue while trying to inject cordova-plugin-googleplus into my controller"
Hi ,

Am trying to use the cordova-plugin-googleplus plugin and, am getting an error. Please check the issue.
Am pasting the error msg from browser(Am running it in device, using browser just for error log) :-

Error: [$injector:unpr] Unknown provider: $cordovaGooglePlusProvider <- $cordovaGooglePlus <- loginController
http://errors.angularjs.org/1.3.13/$injector/unpr?p0=%24cordovaGooglePlusProvid

[2015-05-13 15:24] Solido opened #797 "feat : List available Wifi networks"
Currently we have plugin to monitor state of the current connection but none to list available wifi around.
There's some implementations out there but most only works on android phones.
That would be a other stone to the great list of provided features.
Best Regards.

[2015-05-13 15:48] jonnysmith1981 commented on #792
Issue was caused by rebuilding and redeploying over the top of the existing Android install. I uninstalled the app and re-installed and I was able to use the cordovaFile plugin with no problems.

[2015-05-13 15:48] #792 closed

[2015-05-14 06:26] johannds opened #798 "$timeout is not defined"
Hi,

I get this:

I/chromium( 5033): [INFO:CONSOLE(8)] "Uncaught ReferenceError: $timeout is not defined", source: file:///android_asset/www/lib/ngCordova/dist/ng-cordova.min.js (8) on Android when running crosswalk 10.

My app freezes up and becomes totally unusably slow when I try to input any text. It only happens on Android 4.1.2 and 4.1.1 from what I can see.

Any ideas?

Kindly,
Johann

[2015-05-14 14:07] DanailMinchev commented on #779
What is the difference between the two?
Anyway, plugin has been updated - close the issue if it's not applicable now.

Thank you

[2015-05-14 14:26] virix commented on #779
Cordova plugin (in ClickActivity.java) passes notificationObj to click event, not (id, state, json).
The difference is the object passed from ng-cordova to js event.
The fist (wrong) passes an object like this:
{
  id: notificationObj,
  state: undefined
  json: undefined
}
The second passes simply notificationObj (correct).

Anyway, I see your changes and It seems ok now.

Thank you.

[2015-05-14 14:26] #779 closed

[2015-05-14 17:56] alicona commented on #743
I have the same Issue with Android 4.4.4 API 19

[2015-05-15 09:00] brodybits commented on #719
+1 this been causing confusion for people using the sqlite plugin that I am maintaining, leading to litehelpers/Cordova-sqlite-storage#229, litehelpers/Cordova-sqlite-storage#246,  litehelpers/Cordova-sqlcipher-adapter#5, and possibly litehelpers/Cordova-sqlite-storage#265.

Thanks @sebastienblanc for issuing PR #653.

[2015-05-15 18:27] alicona commented on #697
+1  ... I had to write my own, i didn't know it was commented. =(

[2015-05-15 19:41] ctotheameron commented on #798
+1 for me too

[2015-05-15 19:42] degamer106 opened #800 "Unable to build Ionic iOS project with XCode 6.3 after adding ngCordova $cordovaBadge plugin"
Steps to reproduce:

1) Add the cordovaBadge plugin to your Ionic project: cordova plugin add https://github.com/katzer/cordova-plugin-badge.git
2) Build your project via Terminal command: ionic build ios
3) You will get the following message: ** BUILD FAILED **

The following build commands failed:
	Ld build/emulator/TriNetPOC.app/TriNetPOC normal i386
(1 failure)
Error code 65 for command: xcode

[2015-05-15 23:04] begrossi opened #801 "Gently fail when plugins is not available (not installed or testing in browser)"
I'm started now to migrate my code to use ngCordova, that is a great tool!
But I saw that a lot of plugins don't fails gently and/or with a common contract if plugin is not present.

Examples:
* [Camera Plugin](https://github.com/driftyco/ng-cordova/blob/master/src/plugins/camera.js) returns null if it's not installed: ```if (!navigator.camera) { q.resolve(null);  return q.promise;}```
* [DatePick

[2015-05-16 06:41] xiaoshitou commented on #735
it ok?  i also define my own ngCordova,but it  is undefind in uselly  ,what can i do??

[2015-05-16 13:59] pbernasconi commented on #798
Could you try using the *un-minified* `ng-cordova.js` file, so that I can see exactly where the error is?

[2015-05-17 01:25] adrianmkofficial opened #803 "Chaining Facebook Promises"
Hi, I'm currently trying to do multiple API Calls to Facebook.

In this Example I'm trying to gather FB Events created by different Pages, in an attempt to display them all later in my View. Basically I'm making three FB API Calls, merging the Response and assigning it to a scope Variable.

    var clubs = ["page1" , "page2", "page3" ];
        angular.forEach(clubs, function(value, key) {

[2015-05-17 22:07] quanghoc commented on #781
Actually that is for the latest branch. For stable, use this (according to their Github readme)

`cordova plugin add de.appplant.cordova.plugin.email-composer@0.8.2`

[2015-05-17 22:40] root-io commented on #781
@TrevorJTClarke You're right the link is broken, the correct url is:
https://github.com/katzer/cordova-plugin-email-composer.git#0.8.2

I don't understand why we don't use the master branch on this one, there is no difference.
https://github.com/katzer/cordova-plugin-email-composer/commits/master

[2015-05-18 10:18] JerryBels opened #806 "SocialSharing plugin documentation error"
Just to report a little plugin doc error :

On this page : http://ngcordova.com/docs/plugins/socialSharing/ there is a mistake, CC mail has been forgotten.

    // toArr and bccArr must be an array, file can be either null, string or array
      $cordovaSocialSharing
        .shareViaEmail(message, subject, toArr, bccArr, file)

Should be replaced with

    // toArr, ccArr and bccArr must be an ar

[2015-05-18 14:04] #781 closed

[2015-05-18 14:06] pbernasconi commented on #806
thanks, fixed aec080702e809033591adcf5f252040b4aeecbea

[2015-05-18 14:06] #806 closed

[2015-05-18 14:19] ag-secret opened #809 "Oauth Could not find inappbrowser"
As reported [here] [1] the  inappbrowser plugin was renamed so I'm getting an error `Could not found InAppBrowser plugin` when I'm trying use `Oauth`.

[1]: https://github.com/driftyco/ng-cordova/issues/774

[2015-05-18 14:42] adrianmkofficial commented on #803
Solved the Issue.

There is a Bug in the Cordova Facebook Plugin, which disables running multiple, parallel API Calls. This has nothing to do with ngCordova itself.

[2015-05-18 14:42] #803 closed

[2015-05-18 17:48] dymo commented on #798
I had the same problem, but it looks like it was solved in 0dc3b651e980aeb591572949dfd8e301e5b04d76

[2015-05-19 06:24] inceptiveSujit opened #813 "Upload pdf to dropbox"
down vote
favorite
1
Does any one implemented uploading pdf to dropbox, I am using dropbox api and file plugin.

I tried every method of file plugin (ReadAsArrayBuffer, ReadAsBinaryString, ReadAsText) using all that I am able to upload file to dropbox however format of PDF got corrupted upon downloading.

Please let me know if anybody has any solutions on it

[2015-05-19 14:17] gortok commented on #773
Sometimes the API for the plugins is not fully fleshed out; you can definitely submit a pull request that fleshes it out more.

[2015-05-19 14:19] gortok commented on #790
This would seem to be 'working as designed' since the plugins are namespaced to the `ngCordova.plugins.` namespace.  I could also be looking at this wrong.

[2015-05-19 14:39] gortok commented on #801
Have you used ngCordovaMocks for browser work?

[2015-05-19 17:54] napcat commented on #809
I had to change the validation in the plugin source:

'''javascript
if (cordovaMetadata.hasOwnProperty("cordova-plugin-inappbrowser") === true  ||  cordovaMetadata.hasOwnProperty("org.apache.cordova.inappbrowser") === true)
{
      ....
}
'''

I left like this to keep compatibility with older projects.

[2015-05-19 22:34] nguyenthong commented on #743
I am the same problems with Nexus 5 android 5.0.0 API 21. I have test also with my galaxy note 8 and it  still giving the same message even I have 1 minutes for timeout.

[2015-05-20 04:40] bastiantowers commented on #172
Same here.
Maybe is there something about the Android API Version?
I saw that on Android 4, the API Version is 22; but on Android 2.3.6 the minimium version required is 10. Does anyone see a solution here?

Thanks!!

[2015-05-20 13:16] sibizavic commented on #772
Probably related with my issue:

Injecting the $cordovaInstagram into my service as follows:

    .factory('ShareInstagramFactory', function($cordovaInstagram, $q) {
        var self = this;

        // Options
        var shareMessage = "Message";

        //
        // Instagram
        self.shareInstagram = function(imageData) {

            console.log("shareInstagram")

            var qInsta

[2015-05-21 05:30] mustafahlvc commented on #809
+1

[2015-05-22 13:36] ChrisBratherton commented on #809
+1

Is there any around this 'Could not find InAppBrowser' issue?

What files did you have to change to get this too work?

[2015-05-22 18:20] ag-secret commented on #809
@ChrisBratherton go to ngCordova.js

[2015-05-23 15:57] larpo1 opened #814 "Error: 404 Not Found: cordova-plugin-statusbar"
Install fails following docs here: http://ngcordova.com/docs/plugins/statusbar/

[code]

[2015-05-23 21:29] umcsdon commented on #814
Hi @larpo1

The plugin changed it's name to <b>org.apache.cordova.statusbar</b>.

<code>
cordova plugin add org.apache.cordova.statusbar.
</code>

http://plugins.cordova.io/#/package/org.apache.cordova.statusbar

[2015-05-25 15:14] MichaelJCole opened #815 "Feat: Alarms?"
Hi, I'm looking for alarms in Ionic.

What's the best way?  Is there something obvious I'm missing?  Is there a reason alarms aren't in ngCordova?

I found [this](https://github.com/wnyc/cordova-plugin-wakeuptimer) but was having trouble getting it to work.  (Literally no comments or API documentation).

Thanks!

Mike

[2015-05-26 03:14] Heshyo opened #816 "Update mocks for download/upload"
There is no mock for $cordovaFileTransfer.upload nor download, but there is still a mock for $cordovaFile.uploadFile and downloadFile, even if those functions are not part of $cordovaFile anymore.

Following the existing mock for $cordovaFile, we could have something like:

[code]

[2015-05-26 03:20] Heshyo commented on #524
@pbernasconi Maybe you could simply put a link to the releases at the beginning of CHANGELOG.md. That way you wouldn't have to update both, and people would easily be able to find them.

[2015-05-27 08:20] skymovinggit opened #818 "ReferenceError: Can't find variable: $timeout"
var e = function() {
            $timeout(function() {
                $rootScope.$broadcast("$cordovaKeyboard:show")
            })
        }, n = function() {
            $timeout(function() {
                $rootScope.$broadcast("$cordovaKeyboard:hide")
            })
        };

运行的时候，报这个错误，这个依赖没有引入吧！什么时候更新？

[2015-05-27 08:36] skymovinggit commented on #818
此问题已解决，需要下载主干上的ngCordova

[2015-05-27 08:36] #818 closed

[2015-05-27 13:20] leejinhuey opened #819 "Network Settings intent"
A common issue with ng-cordova applications is they don't work when you run out of internet juice. Providing a handy way for users to adjust their network settings appropriately is useful and rather straightforward. Therefore, I suggest a way to provide access to native network settings from the app, probably through opening the native Settings application.

In Android, natively, this is as straig

[2015-05-27 14:42] bgold0 commented on #221
Has anyone been able to get pdf417-phonegap to work on Ionic? [I haven't been able to figure it out.](http://stackoverflow.com/questions/30132924/calling-pdf417-phonegap-cordova-plugin-in-ionic)

[2015-05-27 18:56] academo opened #821 "$cordovaMedia getCurrentPosition"
I was checking the sourcecode of Media plugin and I can note there is a note about getCurrentPosition not working (https://github.com/driftyco/ng-cordova/blob/master/src/plugins/media.js#L24)

with this base code

[code]

But in the edge docs of Phonegap and making some experiments in my own code I can note the getCurrentPosition is working properly.

I want to know if there is any special reason

[2015-05-28 07:16] gautamkishore opened #822 "$cordovaContacts.find doesn't work with lb-services"
It was working completely when I used just ngCordova but when I included lbServices, it stopped working. it doesn't go to then() neither generates any error.

    .controller('FriendsCtrl', function($scope, $cordovaContacts) {

      $scope.getContactList = function() {
        $cordovaContacts.find({filter: ''}).then(function(result) {
            $scope.contacts = result;

        }, function(er

[2015-05-28 12:42] Kratos-SA opened #823 "analytics not showing any data"
I have implemented the analytics plugin but I am not seeing anything in my analytic dashboard. I have wrapped it in a device ready and I have it running on a device but I see nothing. Please can you document this a bit more or explain where I am going wrong.

document.addEventListener("deviceready", function () {
        $cordovaGoogleAnalytics.debugMode();
        $cordovaGoogleAnalytics.startTra

[2015-05-28 21:47] khwerhahn opened #824 "Background Geolocation breaks app"
Hi,

it seems that the the ```$cordovaBackgroundGeolocation``` plugin breaks the app. The $state breaks and nothing works anymore until I comment the cordovaBackgroundGeolocation stuff out.

[code]

Am I doing something wrong? Anyone else having the same problem?

[2015-05-29 14:30] anthonny commented on #697
+1

[2015-05-29 16:19] maikokuppe commented on #172
had the same problem and solved it by changing the js implementation path:
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

[2015-05-30 04:50] nraboy commented on #809
I encourage everyone to use the primary version of my oauth plugin:

https://github.com/nraboy/ng-cordova-oauth

These issues have been corrected in it.  I am slower to update the Ionic version of the library.

[2015-05-30 08:24] ocomsoft commented on #625
Sorry. Looks like you are right.. I had added the module to another module but not in the app module.

[2015-05-30 08:24] #625 closed

[2015-05-31 00:43] vasconcelloslf commented on #615
same here.

[2015-05-31 01:15] MichaelJCole commented on #397
Do you have them in a 'ready' event?

E.g.

      $ionicPlatform.ready(function() {
        $scope.audioFile = Audio.openFile($scope.slug);
      });

[2015-05-31 14:22] MichaelJCole commented on #510
+1

[2015-05-31 15:35] #798 closed

[2015-05-31 15:39] MichaelJCole opened #827 "$cordovaMedia recording doesn't work"
Hi, I've been working with $cordovaMedia for about 10 hours, and it appears to be broken.

Here's a git repo with my test project.  I'm pushing it to an Android 4.4 device to test.

git@github.com:MichaelJCole/ngCordovaAudioTest.git

Is my app broken, or is $cordovaMedia?

Thanks!

Mike

[2015-05-31 15:49] sundaywork commented on #172
Silly but I found out I misspelled cordova

[2015-05-31 18:33] MaxBalance opened #828 "Cannot read property 'toast' of undefined"
" Cannot read property 'toast' of undefined ".This problem happens in the official demo and my project.

I have used this serval times , but until today , I get this problem.

Any help will be appreciated~

[2015-06-02 12:51] mustafahlvc commented on #809
if i ll use ngcordova with ng-cordova-oauth, isn't there any conflict both factory name are "$cordovaOauth".

[2015-06-02 12:55] nraboy commented on #809
Yea there will be.  Any recommendations on naming conventions?  I officially support ng-cordova-oauth.  The version in ng-cordova is just a port when I have the time.

[2015-06-02 13:01] NoelLH commented on #624
Any chance we could get the above fix merged in and avoid `.finally()` throughout ngCordova? I've manually replaced all the .finally()s and it fixes the problem.

All the recent tagged alphas are broken on at least some devices with Android 2.3 because of this.

[2015-06-02 16:03] pbetancourt commented on #398
Fucking shit, this error is not solved u.u

[2015-06-03 06:43] rpdiss opened #831 "Sqlplugin not working?"
Hey is this plugin not supported with current ngc release? Because there is msg "new transaction is waiting for open operation"

[2015-06-03 08:03] david-byng commented on #828
Hi MaxBalance,

Is the plugin added to the project with cordova [like in the docs](http://ngcordova.com/docs/plugins/toast/)?

Are you testing on a real device or in the browser?

[2015-06-03 08:46] pcrombach opened #832 "FileSystem Size"
The configuration to determin the size of the FileSystem is gone?

What is the reason for this??

[2015-06-03 08:47] pcrombach opened #833 "File listdir"
The function listdir in $cordovaFile is marked out?
If I unmark it this function works???

[2015-06-03 14:32] modemlooper opened #834 "$window.zip.unzip not working"
if you skip the wrapper code and

window.zip.unzip works fine

[2015-06-03 15:46] danicomas commented on #473
@slypete seems that @pellekrogholt fork is the most recent: https://github.com/pellekrogholt/AppPreferences/tree/ios-config-xml-cordova-3

I think the same as you. +1 to add the .git in the ngCordova release and docs.

[2015-06-03 16:20] mjvdwater opened #835 "URIencode is enabled by default ($cordovaFileTransfer)"
URIencode is called by default on the url specified when calling the download or upload functions, unless you specify the encodeURI property in the options argument. The documentation states that the options argument currently only supports headers. This lead me to pull my hair out for a couple of days. Please update the documentation.

[2015-06-03 20:51] tubaman commented on #750
My PR (#836) is better than #749 because it returns the device as their found using q.notify.

[2015-06-03 23:52] dcp3450 opened #837 "Using the Cordova-SQLite-Plugin $scope.execute isn't running but the database is being opened without error"
I have a database that is created when my Windows 8 app starts. When I tap a button on the screen I'm using ng-view to change the content. In the controller I want to do a call to my database to select data then I'll be using the results to populate the template that's pulled in with the ng-view.

I'm using the following code to open my db and select some items from the table. Console shows the da

[2015-06-04 11:44] MaxBalance commented on #828
Thanks a lot.I put the plugins with a wrong path...

[2015-06-04 11:45] #828 closed

[2015-06-04 18:10] kgilmur opened #838 "cordovaSocialSharing .share() is not definied"
Cannot read property 'socialsharing' of undefined. In xcode shows as cordova error where "dataFromBase64String:base64content" is deprecated and suggests added cdv to create "cdv_dataFromBase64String:base64content"

Not sure if this is a fix I can go in and manually do somehow? Or if I need to abandon this plugin.

Direction would be greatly appreciated.

[2015-06-04 20:13] ozexpert commented on #766
No one's tracking issue? this is documented and is working.. cause I'm using it :+1:

[2015-06-06 02:04] ebruner commented on #172
Same prob.  Here.  My app was running fine in chromium (ionic serve --lab).
Ionic 1.5.0
npm 1.3.10
Linux Mint 17

using:
<script src="lib/js/ionic.bundle.js"></script>
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<script src="cordova.js"></script>

[2015-06-06 19:29] maxrevilo opened #839 "Telerik Push plugin support"
Hey, what about giving some support for the Telerik PushPlugin?
https://github.com/Telerik-Verified-Plugins/PushNotification

I could send a PR if you agree, the Telerik plugin have extended functionality and is actively supported.

I would add sopport for iOS interactive notifications and to check if push notifications are enabled.

https://github.com/Telerik-Verified-Plugins/PushNotification

[2015-06-06 19:34] paulogr commented on #839
+1
Em 06/06/2015 16:29, "Oliver Perez" <notifications@github.com> escreveu:

[2015-06-07 22:21] guillermo-varela commented on #796
Hi,
The plugin was added at some point, but was deleted again in this commit: https://github.com/driftyco/ng-cordova/commit/712fe8d7de28a2abf354e146ef0c364b04f1d136#diff-cf07438d7faebd091483bb63caa510e7L4836

Any reason for it?

Thanks.

[2015-06-08 02:18] nraboy commented on #809
This fix was merged into the latest master.  @pbernasconi can close this ticket.

[2015-06-08 02:18] nraboy commented on #783
This was merged into the latest master.  @pbernasconi can close this ticket.

[2015-06-08 02:19] nraboy commented on #774
This was merged in the latest master.  @pbernasconi can close this ticket.

[2015-06-08 07:07] atulrungta commented on #172
Solved this error by updating ngCordova to latest stable version.

[2015-06-08 22:50] mobajm commented on #743
I spent hours today struggling with this issue. Geolocation kept timing out on android 5.0 and 5.1. Installing version 1.0 of the cordova geolocation plugin (I had version 0.3.x before) did it for me.

According to [https://issues.apache.org/jira/browse/CB-5977](this link), this version only adds the required location permissions to the AndroidManifest.xml file, and leaves the rest of the work to

[2015-06-09 20:09] #824 closed

[2015-06-10 11:27] matthiaslieb commented on #362
Now you save it to the directory ```'this_is_a_file'``` but I think that is what you don't want. I have the same issue and I solved it with the elimination of the ```file:///''' prefix of ```cordova.file.externalDataDirectory```

[2015-06-12 06:36] bleuscyther commented on #837
this is the same error  : https://github.com/driftyco/ng-cordova/issues/651

[2015-06-13 19:18] anasmithiam opened #846 "Cordova 5 compatibility"
I am considering to migrate to Cordova 5 but I have doubts about compatibility issues with Ionic, ngCordova and cordova plugins

Is ngCordova fully compatible with cordova 5?

[2015-06-13 19:18] anasmithiam commented on #771
I am worried about this too.

All ngCordova stuff will work with cordova plugins installed with the new ids? (cordova-plugin-* instead of org.apache.cordova.*)

related #846

[2015-06-15 15:16] jonnysmith1981 opened #847 "cordova plugin add giving 404 error"
I have tried this on multiple computers on different internet connections, but each time i try to install the capture, camera, file or sqlite plugins I am getting:

Failed to install 'cordova-plugin-media-capture':Error: 404 Not Found

[2015-06-15 16:08] bricktownseo commented on #847
Jonny,

It worked for me... What version of cordova are you using?

Phil

On Mon, Jun 15, 2015 at 10:16 AM, jonnysmith1981 <notifications@github.com>
wrote:

[2015-06-15 20:08] jonnysmith1981 commented on #847
Thanks for the tip Phil. I was running 4.3.0. Upgraded to 5.1.1 and the plugin installed correctly.

[2015-06-15 20:08] #847 closed

[2015-06-16 09:48] DarianLewin opened #848 "Let cordovaEmailComposer.open() fail promise when "cordova is not defined" for testing in browser"
*FEATURE REQUEST*

The cordovaEmailComposer.open method throws the following error when testing in a browser:

The open() method returns a promise.
I propose to use the existing promise to give feedback in case that cordova is required. The promise could be made to fail/rejected when cordova is not available.

This would allow the failure to be handled and/or ignored more easily and (in my opinion

[2015-06-16 20:21] alvaroziqar opened #849 "New Method showWithOptions of PhoneGap Toast by Eddy Verbruggen dont work ngCordova/toast"
Hi.

Looking at the plugin PhoneGap Toast by Eddy Verbruggen, the method showWithOptions available since 2.1.0 version is not implemented  in ngCordova / toast.

Thanks

[2015-06-16 21:55] jasonshark commented on #757
I had to add it that way also. There is more discussion [here](https://github.com/nraboy/ng-cordova-oauth/issues/57)

[2015-06-17 19:48] vladipus opened #850 "`$cordovaGoogleAnalytics.debugMode()` seems to never resolve."
Are you sure this function should actually return a promise?

[2015-06-17 23:58] palpa opened #852 "Update http://ngcordova.com/docs/plugins/sqlite/ example"
To:
[code]
Instead of this:
[code]
Thanks!

[2015-06-18 01:59] CyrilSabbagh commented on #838
+1 same issue

[2015-06-18 19:51] bmsalm commented on #446
Has this been resolved? This is occurring for me when running browser and android...

[2015-06-18 20:58] tattivitorino commented on #446
same problem here!!
![image](https://cloud.githubusercontent.com/assets/5480296/8242120/ab1e1ed8-15e3-11e5-95c8-7a2487bd41f0.png)

[2015-06-18 23:30] felquis commented on #446
I solved it today, I had to use:

`cordova platform add browser`
`cordova run browser`
`cordova serve browser` OR create serve of `platforms/browser/www`

It'll run perfectly with cordova proxy for browser

I also had a problem with InAppBrowser plugin with cordova browser, they
overwrite the native browser's `window.open` function, causing the facebook
login to return error X-Frame-Options config

[2015-06-19 02:14] bmsalm commented on #446
@felquis - Are you saying that this will correct the 'cordova not defined' and 'module not defined' errors that people are detailing above?  I don't see the connection due to my javascript noobness.

I'm having these issues on BOTH Chrome and Android using the ionic run commands... Even though both respective directories have the plugin installed within them...

Thanks for your detailed response!

[2015-06-19 16:24] pensiero commented on #615
did you solve?

[2015-06-20 22:02] scokmen commented on #148
That would be great. Typescript is very popular in angularjs word

[2015-06-21 09:41] ritvick commented on #852
+1

[2015-06-21 13:41] cfjedimaster opened #853 "Network Information plugin fails to run"
I downloaded a custom build that made use of *just* network information. When I try to inject it into my controller, I get an error:

0     930369   error    Error: [$injector:modulerr] Failed to instantiate module starter due to:
[$injector:modulerr] Failed to instantiate module ngCordova due to:
[$injector:modulerr] Failed to instantiate module ngCordova.plugins due to:
[$injector:modulerr] Fail

[2015-06-21 13:45] cfjedimaster commented on #166
This is still an issue. I see #348 was closed, but I just ran into this now. Please consider reopening it and addressing it.

[2015-06-21 14:54] ShubhamBadal opened #854 "TypeError: Cannot read property 'browserInit' of undefined"
I want to run on browser for testing and ui development, don't want to do that on phone or emulator everytime. I saw http://ngcordova.com/docs/plugins/facebook/ and under web development section saw this is possible. Made changes as said in config.js but I am getting this error.

Uncaught ReferenceError: cordova is not defined
TypeError: Cannot read property 'browserInit' of undefined

I have adde

[2015-06-22 01:39] bmsalm commented on #446
OK - I think I've figured out a BIG piece of my problem.

The issue I was having was with the portion that was

'.config(function ($stateProvider, $urlRouterProvider, $ionicConfigProvider, $animateProvider, $httpProvider, $cordovaFacebookProvider)
{
	var appID = 1234567890;
	var version = "v2.0"; // or leave blank and default is v2.0
	$cordovaFacebookProvider.browserInit(appID, version);
})'

The

[2015-06-22 11:34] mhartington commented on #846
Yes, ionic and ngcordova are compatible with cordova5.

[2015-06-22 11:34] #846 closed

[2015-06-22 18:19] aneeshmg commented on #115
You would have to render the images in a canvas as shown [here](http://www.html5canvastutorials.com/advanced/html5-canvas-load-image-data-url/) and then use [this](http://phonegap-plugins.com/plugins/devgeeks/canvas2imageplugin) plugin for cordova

[2015-06-22 21:27] jamesdef opened #855 "$cordovaLocalNotification not working on android"
the following code
[code]
gives no result neither any error message in android, but works perfectly when testing on iOs.

Anyone experiencing similiar issues?

[2015-06-23 05:22] hasandogu commented on #855
I am using all the other plugins successfully, so loading ngcordova before cordova.js is non-issue.

I haven't had a chance to run my app on iOS yet but on Android I get the following when I inspect the app it on Chrome. This is my first time using the local notifications plugin.

Error: [$injector:unpr] Unknown provider: $cordovaLocalNotificationProvider <- $cordovaLocalNotification <- localNotif

[2015-06-23 05:24] bricktownseo commented on #855
I have had an issue with trying to use local notification and push at the
same time. I disabled push and local worked immediately.

On Tue, Jun 23, 2015, 12:22 AM hasandogu <notifications@github.com> wrote:

[2015-06-23 05:33] hasandogu commented on #855
I don't have push installed. As soon as I use cordova.plugins.notification.local.schedule itself, it works.

[2015-06-23 06:32] quanghoc commented on #852
+1

[2015-06-23 14:46] anasmithiam commented on #846
ok thank u! 👍

[2015-06-24 15:20] DanailMinchev commented on #855
@jamesdef:
"autoCancel" has been removed - [Upgrade Guide](https://github.com/katzer/cordova-plugin-local-notifications/wiki/Upgrade-Guide)
and you have to use the new plugin version for ngCordova to work:
`de.appplant.cordova.plugin.local-notification@0.8.1`

[2015-06-24 16:03] DanailMinchev commented on #855
@bricktownseo @hasandogu:

I have tested (again) the $cordovaLocalNotification and it is working fine on Android and iOS (I don't have push notification plugin installed).

I am using PhoneGap Build to build my project.

I am using:
- ngCordova: 0.1.17-alpha (latest)
- de.appplant.cordova.plugin.local-notification: 0.8.1
- config.xml:
[code]

Test code:
[code]

Tested on:
- iPhone 4S (iOS 8.3)
- H

[2015-06-25 12:56] ctaepper commented on #833
was wondering the same thing...

[2015-06-25 12:57] ctaepper commented on #697
also mentioned in #833

[2015-06-25 12:57] ctaepper commented on #697
+1

[2015-06-25 16:00] pcrombach commented on #833
After I incompetent listDir I use it in my app without problems, So.....

[2015-06-25 16:03] pcrombach opened #858 "Size of FileSystem"
In former versions of ngCordova File there was the possibility to define the size of the FileSystem. Now it is gone. What size the FileSystem now will be?...

[2015-06-25 17:49] ctaepper commented on #833
i use bower to handle dependencies, i am not able to edit the source files. of course i can always copy that part into my own code, but thats an antipattern..

[2015-06-29 20:10] morcegon opened #860 "cordova.plugins not load"
Hello, firstly thanks for the amazing work!

I'm very newbie on this. In a test with the barcode scanner plugin, every time I got this console error:

I remake the install steps a few times, but it's seems like the cordova.plugins dont work. Others plugins, like camera works fine.

i'm testing with phonegap on iPhone 5s with IOS 8.3.

Thanks

This my app.js
[code]

My index.html:

[code]

[2015-06-30 16:18] jamesdef commented on #855
@DanailMinchev
Thanks for your response. Even after copying your exact code, iOs works fine and android doesn't do anything.

I'm testing on a Nexus 5, running on Android L.

[2015-06-30 18:39] DanailMinchev commented on #855
Could you try this one:

[code]
or replace `$window` with `window`

[2015-06-30 19:12] ankurextreme commented on #800
After adding plugin i get following error

** BUILD FAILED **

The following build commands failed:
	Ld build/emulator/ionCordova.app/ionCordova normal i386
(1 failure)
Error code 65 for command: xcodebuild with args: -xcconfig,/Users/ankurpatel/Desktop/ionic_apps/ionCordova/platforms/ios/cordova/build-debug.xcconfig,-project,ionCordova.xcodeproj,ARCHS=i386,-target,ionCordova,-configuration,Debug,

[2015-07-01 04:32] rktel commented on #462
Only changes in ng-cordova.js:

q.notify(data);   by   q.resolve(data);

      subscribe: function (delimiter) {
        var q = $q.defer();
        $window.bluetoothSerial.subscribe(delimiter, function (data) {
          q.resolve(data);
        }, function (error) {
          q.reject(error);
        });
        return q.promise;
      },

[2015-07-01 10:32] DanailMinchev commented on #855
@jamesdef

My `bower.json` is:
[code]

I'm compiling against Android 5.0.1 (API level: 21) / PhoneGap 3.7.0 on PhoneGap Build and not Android 5.1.1 (API level: 22), because there is a bug with Android 5 / Crosswalk and the native plugin:
[code]
Anyway, this bug might not be related to the issue, because you are able to recompile successfully, right?

1). If you are compiling against greater versio

[2015-07-01 10:44] DanailMinchev commented on #860
Hi @morcegon ,

Do you wrap cordova calls like this:
[code]

[2015-07-01 13:17] morcegon commented on #860
Hi @DanailMinchev ,

This is my app.js controller:

[code]

[2015-07-01 15:43] sellcorpllc commented on #221
[pdf417-phonegap](https://github.com/PDF417/pdf417-phonegap) is not a free library. They have their own [website](http://pdf417.mobi/) where an individual can register for license keys. The license keys are parameters in their scan function and control the functionality of the plugin. In order to use the library the widget id the config.xml needs to be mobi.pdf417.demo. This widget id in config.xm

[2015-07-02 03:49] jordanskole opened #862 "Beacons/iBeacons Plugin"
Feat, Feature

Create a angular service for the Cordova "proximity" / beacons / iBeacon plugin.

* https://github.com/petermetz/cordova-plugin-ibeacon
* https://github.com/petermetz/cordova-proximity-quickstart

[2015-07-02 09:16] NestorAlbelo opened #863 "Socket"
Hi,
I would like that this plugin was added to create a Socket

http://plugins.cordova.io/#/package/cz.blocshop.socketsforcordova

Thanks =D

[2015-07-02 16:52] jamesdef commented on #855
@DanailMinchev

Really appreciating your help!
1) I'm compiling against Android 5.0.2
2) tried both, no console output at all
3) config.xml
[code]

[2015-07-02 18:49] hasandogu commented on #855
Hi @DanailMinchev

Thanks so much for your help. I actually figured my problem out yesterday. It seems like a dependency injection problem with another ng-cordova plugin I was trying to add to the app without rebuilding ng-cordova.

Once I incorporated it into ng-cordova [in my own fork](https://github.com/hasandogu/ng-cordova), local notifications started working without a problem again.

[2015-07-02 19:20] DanailMinchev commented on #862
There is a pull request "[Add $cordovaBeacon plugin](https://github.com/driftyco/ng-cordova/pull/857)" for that already

[2015-07-02 20:01] DanailMinchev commented on #855
@hasandogu

Thanks for the response!

@jamesdef

If direct call `$window.cordova.plugins.notification.local` to the plugin does not work too, this means that probably you have incorrect setup for the app and there are no problems with `$cordovaLocalNotification` implementation (as confirmed by @hasandogu as well).

As you can see from my previous message:
- I have included `"ngCordova": "0.1.17-al

[2015-07-02 20:01] dangnelson commented on #860
I'm having the same issue, but with the keyboard plugin.

    .controller('CameraCtrl', function($scope, Camera, $cordovaKeyboard) {
      $cordovaKeyboard.disableScroll(true);
      $cordovaKeyboard.hideKeyboardAccessoryBar(true);
     })

Getting error:
Error: undefined is not an object (evaluating 'cordova.plugins.Keyboard')

Tried wrapping the cordova call as was suggested above

[2015-07-02 20:08] DanailMinchev commented on #860
`$cordovaLocalNotification` also uses `$window.cordova.plugins` namespace for example `$window.cordova.plugins.notification.local.schedule`, but it is working for me and other plugins are wokring, too

[2015-07-02 20:08] DanailMinchev commented on #855
This issue might be related: https://github.com/driftyco/ng-cordova/issues/860

[2015-07-02 20:21] morcegon commented on #860
Hey @DanailMinchev ,

I paste my app.js and index.html above. I'm using Ionic with ngCordova and follow the examples to install.

Thanks,

[2015-07-02 20:21] DanailMinchev commented on #860
@morcegon @dangnelson please try this two simple snippets:

1). Confirm `window.cordova` is available:
[code]

2). Confirm `window.cordova.plugins` is available:
[code]

[2015-07-02 20:27] morcegon commented on #860
@DanailMinchev ,

I've tested now and this is the log:
[code]

[2015-07-02 20:54] DanailMinchev commented on #860
@morcegon thanks! Very strange .. this confirms that any plugin in `window.cordova.plugins` namespace will not work.. No clue how to fix it, tough :(

Just a guess:
In your `app.js` you need to add `$window` in `.run(function($ionicPlatform) {`, because it is used without injecting it like this `.run(function($ionicPlatform, $window) {`
Try calling plugin directly (this probably won't work because

[2015-07-02 21:03] dangnelson commented on #860
I've got this at the top of my app.js:

    .run(function($ionicPlatform, $http, $rootScope, ngFB, $window) {
        $ionicPlatform.ready(function() {

	  if ($window.cordova &&
          $window.cordova.plugins &&
          $window.cordova.plugins.Keyboard) {
             console.log('Plugin available');
          }
        })
    })

And these at the bottom:

    document.addEventListener("devi

[2015-07-02 21:17] morcegon commented on #860
@DanailMinchev thanks for your help.
I tried calling the plugin directly, but don`t work too. Its just the cordova.plugins the error core.

thanks.

[2015-07-03 16:02] jamesdef commented on #855
just started an entirely blank project, only installing ngcordova and this plugin.
When running on my Nexus 5 (Android 5.0.2) nothing happens (even console is empty), both via plugin or native... works on iPhone however

[2015-07-03 20:51] jordanskole commented on #862
Oh nice! I searched the issues but didn't search the PRs.

[2015-07-03 20:51] #862 closed

[2015-07-04 14:06] jamesdef commented on #855
no clue why, but putting it in an array
[code]
did the trick!

[2015-07-04 15:31] DanailMinchev commented on #855
@jamesdef

Thank you for the information!

I can see that you have opened issue on the official native's plugin repo: https://github.com/katzer/cordova-plugin-local-notifications/issues/615

I have tested on one more device: `LG Spirit 4G / Android 5.0.1` - works fine with native and ngCordova plugin.

So, total devices I've tested, on which works fine:
- iPhone 4S (iOS 8.3)
- HTC One (Android 5.0

[2015-07-04 18:09] Kurtz1993 opened #866 "$cordovaMedia documentation wrong"
In the example we see the following code:

module.controller('MyCtrl', function($scope, $cordovaMedia) {
  var src = "/src/audio.mp3";
  var media = $cordovaMedia.newMedia(src).then(function() {
    // success
  }, function () {
    // error
  });
  var iOSPlayOptions = {
    numberOfLoops: 2,
    playAudioWhenScreenIsLocked : false
  }
  media.play(options); // iOS only!
  media.play(); // Androi

[2015-07-06 12:31] Syses opened #867 "cross-device link not permitted"
when i  install the $cordovaActionSheet
the error  just follow
shell.js: internal error
Error: EXDEV, cross-device link not permitted 'C:\Users\ding\AppData\Local\Temp\git\1436184810259\demo'

how can i ....

[2015-07-06 12:54] Organicdareal opened #868 "$cordovaInAppBrowser not working on android"
Hi, I'd want to use the $cordovaInAppBrowser plugin to open a youtube window in my app.
I'm using ngCordova with ionic. I tried this way :

$scope.youtube = function () {

        var options = {
            location: 'yes',
            clearcache: 'yes',
            toolbar: 'no'
        };

        alert('option set');

        $cordovaInAppBrowser.open('http://www.youtube.fr', '_blank', options

[2015-07-06 16:15] dangnelson commented on #860
I was able to resolve the error by wrapping the call in $ionicPlatform:

	$ionicPlatform.ready(function() {
	   $cordovaKeyboard.disableScroll(true);
	   $cordovaKeyboard.hideAccessoryBar(true);
	});

But now I'm having an issue with the keyboard disable scroll command not working...

    $cordovaKeyboard.disableScroll(true);

[2015-07-06 22:11] Organicdareal commented on #868
Nevermind, my bad, I just messed with the versions.... The azure-mobile-services plugin required org.apache.cordova.inappbrowser, so it didn't install well the latest version. I just removed everything and added my plugins in the good order. Thanks !

[2015-07-06 22:11] #868 closed

[2015-07-07 11:37] BipinBhandari opened #870 "Wrong sample code in documentation"
In [documentation](http://ngcordova.com/docs/plugins/sqlite/) object is passed when calling openDB.

[code]

But in code:

[code]

It takes dbName and background as parameter. Please fix the documentation.

[2015-07-08 05:13] marcelodelta opened #872 "SQLite problem."
var db = $cordovaSQLite.openDB({name:"banco.db"});
    $cordovaSQLite.execute(db, 'CREATE TABLE IF NOT EXISTS registros (id integer primary key, data text)');

ERROR: Uncaught TypeError: Cannot read property 'openDatabase' of undefined

[2015-07-08 08:32] dennismuys commented on #867
I have the same problem with the file-opener2 plugin.
This is my console output:

[code]

I am using cordova 5.1.1

[2015-07-08 08:45] dennis-devoon commented on #867
https://github.com/litehelpers/Cordova-sqlcipher-adapter/issues/9

as you can see it is a problem with cordova CLI 5.1.1 you can roll back to 4.3.0 and it will work

[2015-07-08 13:15] BetaBugish commented on #867
Same issue with the Cordova spinner dialog.
Pretty much the same log too.
[code]

[2015-07-08 21:16] gortok opened #873 "BLE compatible with Cordova 4.0.0+"
I've implemented a wrapper for a BLE library that is compatible with Cordova 4.0+. The evothings library is not. https://github.com/Jewelbots/ng-cordova/tree/bluetoothle-plugin-addition  I'd like to submit a pull request to include it; but I understand that having two BLE libraries may be weird.  I'm opening this issue to discuss how we should approach this issue.

[2015-07-09 14:59] davidecavaliere opened #874 "Watch Acceleration Throws TypeError exception on browser"
Didn't had the time to check browsers other than chrome version 43.0.2357.130 64 bit on Linux.

When trying to get acceleration in browser as in:

[code]

console shows this error:

[code]

This is due to

[code]
being 'undefined' in browser

[2015-07-09 15:50] nimo862 commented on #745
Hello Mayank,
because I have the same problem, could you please post the entire download service code? The image you posted is partial, so I don't know how to complete the example.

Thanks
Paolo

[2015-07-09 20:14] Kukiwon commented on #430
+1 seeing the same issues on Galaxy S3 mini running Android 4.4.4

[2015-07-09 20:30] mikeon commented on #430
@Kukiwon Did you try to install Crosswalk? Because this is remedy. Also you can create function with setinterval, at first run it will fail but next one will execute properly.

[2015-07-09 20:32] Kukiwon commented on #430
@mikeon yes i'm using crosswalk. I'll try using an interval for getting a location and will keep you posted.

[2015-07-10 06:16] Kukiwon commented on #430
@mikeon your proposed solution using an interval did not work for me. Eventually we reinstalled Android on the phone and now it works. Looks like it was an issue with the device. Thanks again!

[2015-07-10 11:15] landed1 commented on #70
It's maybe not related but I have found in the browser of desktop this doesn't cause an issue...however on a device this causes some js error halting the block of code.

So I have to do this to get some initial device testing working
    //if ((navigator.connection && $cordovaNetwork.isOnline()) || !navigator.connection) {
    if (navigator.connection) {

[2015-07-10 21:04] lookitsatravis commented on #672
+1. I'm having this exact issue now.

[2015-07-12 12:17] mirkonasato commented on #809
Why is it that `bower install ngCordova` installs an `ng-cordova.js` that doesn't include this fix?

    bower ngCordova#~0.1.17-alpha       not-cached git://github.com/driftyco/ng-cordova.git#~0.1.17-alpha

[2015-07-12 12:43] nraboy commented on #809
I have no control as to how the Ionic team updates the ngCordova version.  Bower will grab the latest version and if the version was not created after the merge, it will not be included.

A sure way around this until Ionic updates the versions is to just download the master manually.

Regards,

[2015-07-12 12:52] mirkonasato commented on #809
I managed to install the master with

    bower install ngCordova#c3634c64090fa11c3e6bab3fcdc29712d3ecb965 --save

(You can also do `bower install ngCordova#master` but I'd rather know which specific version I'm using.)

Shame that fixes don't get released more often.

[2015-07-13 09:19] brodybits commented on #867
Guys please do `npm uninstall -g cordova` (use `sudo` if you have to), make sure no other Cordova `npm` packages are installed, and try a fresh install of Cordova. If you continue to see problems please raise an issue on Cordova via https://issues.apache.org/jira/secure/Dashboard.jspa.

[2015-07-13 21:35] dcp3450 opened #879 "InAppBrowser clears out code to a blank screen"
I've installed `InAppBrowser` per the docs and included it in my app:

[code]

I'm also using the SQLite plugin in conjunction with ngCordova.

When my app make a database call I get an error:
[code]

Then my app's code is cleared out. If I comment out ngCordova I don't have the issue (but I can't work with my database).

Is there anything else I need to do?

[2015-07-13 23:46] dcp3450 commented on #879
I've found that if I run either one of these:

[code]

I get the error.

[2015-07-14 16:39] phillamarmotte opened #881 "$cordovaDeviceOrientation example error"
Hi,
first of all thank you for this library.
I think i 've found a mistake in your documentation of  $cordovaDeviceOrientation

In the documentation example :

var watch = $cordovaDeviceOrientation.watchHeading(options).then(
      null,
      function(error) {
        // An error occurred
      },
      function(result) {   // updates constantly (depending on frequency value)
        var magnetic

[2015-07-15 04:10] akj627 opened #882 "findEvent for calendar plugin success callback"
Hi,
The findEvent success callback for the $cordovaCalendar has a response object returned, but I always get a length of 0 in it even if the event is in the calendar.
Do you guys know if the success callback can tell me whether the event was found in the calendar or not ?
Thanks
Achint

[2015-07-15 17:40] funkjedi opened #883 "$cordovaCamera.getPicture promise rejected prematurely on Blackberry"
When `navigator.camera.getPicture` is called on a Blackberry the error callback gets called immediately with no arguments. However an actual error hasn't occurred. The success callback is fired successfully after the picture selected.

![navigatorcameragetpicture](https://cloud.githubusercontent.com/assets/9314/8702759/ce858af0-2ae7-11e5-8320-c0bebb395d0e.png)

If you are calling `navigator.camera

[2015-07-17 08:37] joewoodhouse opened #885 "$cordovaDatePicker only returns first date"
With the latest version of the cordova-plugin-datepicker, when the datepicker appears the underlying plugin fires the `show` callback multiple times, each time the user changes the date, until the picker is dismissed.

However because `$cordovaDatePicker` wraps the show callback in a promise, and a promise can only be resolved once, the result is that you only get notification of the first change

[2015-07-17 14:57] gunsline commented on #446
I think this link will help https://github.com/jjsee/facebook-connect-plugin-parse-phonegap-ionic

I have to download the sdk of facebook and include to work on browser.

Havent tested on android and ios, but will, on browser is solved out, this support is for IONIC.

[2015-07-17 16:36] itree commented on #506
Hi is there any progress on this?  I'm have the same exact problem with $cordovaFile.moveFile resulting in an Error Code 5.  { code : 5}

I'm using ng-cordova  0.1.17-alpha

[2015-07-17 19:52] panchisco commented on #506
I monkey patched or rather, modified ng-cordova.js using some of the info above.

Works for me, I still need to upgrade Ionic and hope these issues were resolved.

Inside getFilesystem():

  var initFs = function(fn, errFn) {
    var size = 0;
    //var size = 1024 * 1024;
    var x = $window.PERSISTENT;
    if(device.platform == 'Android') {
      //x = 2;
      $window.requestFileSystem(x, size,

[2015-07-18 00:39] itree commented on #506
hey @panchisco, are you adding all that inside

.provider('$cordovaFile', [function () {

})

[2015-07-20 04:33] carlware commented on #743
same issue here, I am not getting working. I am using ```cordova-plugin-geolocation```. I tested in kikat and lollipop.

[2015-07-20 12:50] alicona commented on #743
I manually modified the  /plugins/android.json file, the plugin didn't add itself to this file.
I added the  "xml:"  and "count" lines.

The config.xml and AndroidManifest.xml are overwritten by this JSON

plugin v0.3.12
Android 4.4.4 API 19
[code]

[2015-07-20 15:19] nickfrandsen commented on #262
Hey is anyone working on ibeacons? Do they need any help?

[2015-07-20 21:15] gortok opened #890 "dist should be added to gitignore"
The dist folder should be added to git ignore; Or, if there's a pain free way of developing with the dist folder around, could you share that?

My present work flow is this:

delete local dist folder
commit
pull
make changes
gulp build
add dist folder
add commits
rebase (squashing commits)
add PR.

Is there an easier way?

[2015-07-20 21:17] gortok commented on #890
One of the reasons I bring this up is that I'm always getting merge conflicts in the dist/ related items due to builds.

[2015-07-21 03:00] nur858 opened #892 "ReferenceError: facebookConnectPlugin is not defined"
I know this has been reported before and i have tried almost all the solutions i found but none worked for me. what am i doing wrong?

 ReferenceError: facebookConnectPlugin is not defined
    at Object.login (file:///android_asset/www/lib/js/bower_components/ngCordova/dist/ng-cordova.js:1605:11)
    at new <anonymous> (file:///android_asset/www/js/app.js:46:24)
    at Object.invoke (file:///andro

[2015-07-21 08:57] chris08002 commented on #650
Have you solved this issue?

[2015-07-22 18:03] VictorRicha commented on #697
+1

[2015-07-22 18:40] judsonbomfim opened #893 "Plugin Media + attribute"
Hello!

I'm having trouble loading an audio through the media plugin.

If you put this way works
thisMedia = $cordovaMedia.newMedia('audio/audio/mp3');

If put in this way does not work
thisMedia = $cordovaMedia.newMedia($scope.linkAudio);

Can anyone help me solve this?

Note: I am using Ionic

[2015-07-23 00:09] simpixelated commented on #8
@pbernasconi blogged about adding this on the [Ionic blog back in December 2014](http://blog.ionic.io/moving-forward-with-ngcordova/), but it's still hasn't been added. Would love to hear some news.

[2015-07-23 13:47] Gajotres commented on #646
You can do it using Ionic view events now.

To do it only on selected pages, use this code inside an appropriate page controller:

$scope.$on('$ionicView.beforeEnter', function(){
    screen.lockOrientation('landscape');
});
If executed in a right controller this code will trigger orientation lock before the view becomes visible.

Read this if you want to find out more: http://www.gajotres.net/cha

[2015-07-23 14:31] jouke commented on #560
Hi,
I would also like to see a TTS plugin to be added to ngCordova. The phonegap plugins you're both referring to, only support Android. I would like to see it working on as many platforms as possible.
I just found https://github.com/vilic/cordova-plugin-tts which is documented to work on iOS 7+,
Windows Phone 8, and Android 4.0.3+ (API Level 15+). That sounds better to me...

[2015-07-23 21:58] alexkavon commented on #8
+1 to what simpixelated said

[2015-07-24 01:44] yreme opened #894 "Error updating www/config.xml: Error: Your config.xml file does not have a <content> element"
every time  I run    `demo` with command
[code]
it will report
[code]
yet  ` <content src="index.html" />  `  is  already in  `www/config.xml`

By the way,  `phonegap  serve` would not report this .

How could I solve this issue? Is there another way that I could run this  demo?

[2015-07-24 10:22] BetaBugish opened #895 "Typo in cordovaFile documentation."
Over at the path section, the external cache dir is listed as 'externalCacheDirectry'.

[2015-07-24 10:28] BetaBugish opened #896 "Dead link in $cordovaFile documentation"
It appears the cordova install line is broken.

When invoking:
[code]

[code]

Cordova version:
[code]

[2015-07-24 11:31] apla commented on #473
@slypete @mlynch @pbernasconi @pellekrogholt

I'm author and maintainer of https://github.com/apla/me.apla.cordova.app-preferences . My plugin is actually better than any of mentioned above:

 * cordova + promise interface out of the box
 * supports more platforms (Android, iOS, Windows and local storage fallback)
 * have tests
 * supports simple and complex data structures
 * supports removal of

[2015-07-26 12:33] root-io commented on #896
Update cordova to version 5

[2015-07-26 14:54] niou-ns commented on #772
I've found the solution:

1) You've to add the ngCordova.plugins.instagram - in your controllers or directives, for example:
angular.module('myapp.directives', ['ngCordova.plugins.instagram'])

2) Then, as usual:
.directive('saveCanvas', function($cordovaInstagram) { ...

3) Documentation for $cordovaInstagram was wrong, you should pass the parameters as object {image: '', caption: ''), for ex.
$c

[2015-07-26 19:40] BetaBugish commented on #896
I'm at 5.1.1.
[code]

[2015-07-26 20:15] root-io commented on #896
Hum, that's weird, there is no mistake with the command line.
https://github.com/apache/cordova-plugin-file#installation
Try `npm update -g`maybe ?

[2015-07-27 20:34] mbarzeev commented on #8
+1 for @emertechie abstract view suggestion

[2015-07-28 06:04] bnorrell commented on #641
Had exact same problem, replacing "$cordovaPush:notificationReceived" with "pushNotificationReceived" worked for me.  Hope that helps someone else.

[2015-07-28 07:45] gion commented on #307
Sounds like a nice workaround :+1:

[2015-07-29 09:20] BetaBugish commented on #896
This was completely my own fault, I never realized I was staring at strider output rather than my own terminal when compiling.

My bad.

[2015-07-29 09:20] #896 closed

[2015-07-31 10:14] jimutt commented on #867
I'm getting the same issue when trying to run `cordova plugin add https://github.com/bcsphere/bluetooth.git`

[2015-07-31 19:24] gortok commented on #895
PRs welcome; please submit one for this fix.

[2015-07-31 19:24] #895 closed

[2015-07-31 21:13] mhartington commented on #890
Not really. Not everyone is building ng-cordova, so there needs to be a local copy available for them to reference. Dist needs to stay.

[2015-07-31 21:13] #890 closed

[2015-08-01 23:39] #419 closed

[2015-08-01 23:39] gortok commented on #419
closing; will re-open if this is reproduced.

[2015-08-02 00:04] gortok commented on #883
If you submit a pull request for this, we'd be happy to accept.

[2015-08-02 00:04] #883 closed

[2015-08-02 00:05] gortok commented on #892
Can you share a minimal reproduction of this issue ? The code necessary for me to reproduce it?

[2015-08-02 00:11] gortok commented on #885
Using notify for this makes sense; if you'd like to put together a pull request, we'd be happy to accept.

I also had to do this for the custom plugin wrapper I wrote for the bluetoothle.js (not the ble.js that you know and love); that commit is here: https://github.com/Jewelbots/ng-cordova/commit/88463cb6b2adf09b052c362c5928b4d9223c2f1f

I also wrote a more complex version of that so for another

[2015-08-02 00:11] #885 closed

[2015-08-02 00:12] gortok commented on #882
Please include a minimal example that reproduces the issue you're seeing so that we can help you resolve this issue.  If you do that, I'll be happy to re-open.

[2015-08-02 00:12] #882 closed

[2015-08-02 00:13] gortok commented on #881
Thanks for this.  Could you help us out by forking the gh-pages branch of this repo, adding the fix to the documentation there, and submitting a pull request?

Thanks again!

[2015-08-02 00:13] #881 closed

[2015-08-02 00:14] gortok commented on #834
It's entirely possible that there's a bug in the wrapper code; could you put together a minimal reproduction of this issue along with what you expect to happen so that I can look into it further for you?

[2015-08-02 00:14] #834 closed

[2015-08-02 00:16] gortok commented on #848
This is a great suggestion. Could you make a pull request for this feature request? We'd be happy to look at this issue further then.

[2015-08-02 00:16] #848 closed

[2015-08-02 00:18] gortok commented on #872
Could you put together a minimal reproduction of this issue here or in a github repo that I can pull to investigate this issue for you?  I'll re-open this when you do that.

[2015-08-02 00:18] #872 closed

[2015-08-02 00:20] gortok commented on #517
Please fork the gh-pages branch of this repo and include your proposed changes in the documentation and create a pull request. I'll be happy to look/merge this in at that time.

[2015-08-02 00:21] gortok commented on #468
Could you include a link to a minimal reproduction of this issue in a new repo?  I'll be happy to take a look at this issue then (without code, it's hard to see where the problem is).

[2015-08-02 00:21] #468 closed

[2015-08-02 00:24] gortok commented on #473
@apla I like this idea.  I want to look further at your plugin and possibly include it in the next minor version of ngCordova.

[2015-08-02 00:26] gortok commented on #518
Do you have any suggestions for naming?

[2015-08-02 00:34] gortok commented on #598
If you need to create a wrapper; the best thing I can suggest is for you to look at any of the existing wrappers and then look at the code they wrap.

In my case; I wrote a wrapper recently for a plugin that's not yet in the core of this project:

https://github.com/driftyco/ng-cordova/commit/f07176e606d32cf6ff3220e8fcc498c0181c2ef4

The biggest gotchas I've encountered is that sometimes the cordo

[2015-08-02 00:34] #598 closed

[2015-08-02 00:35] gortok commented on #570
Can you pull the most recent version of this repo; and if it doesn't work include a minimal reproduction that we can use to reproduce and fix this issue? Thanks!

[2015-08-02 00:35] #570 closed

[2015-08-02 00:36] gortok commented on #619
Not quite sure what you need to be added as a new feature. Can you go into more detail about the use case?

[2015-08-02 00:36] #619 closed

[2015-08-02 00:38] gortok commented on #636
the plugin does need to be included through normal cordova means.

[2015-08-02 00:38] #636 closed

[2015-08-02 00:40] gortok commented on #657
Good to know, will add updating this for the next version.

[2015-08-02 00:42] gortok commented on #662
That's great! Thanks.  We'll have to continue to use the free version for obvious reasons; thanks for your effort. I'm disappointed your work isn't licensed in a fashion where we can include it in an open source project; but I understand your position.

[2015-08-02 00:42] #662 closed

[2015-08-02 00:43] gortok commented on #669
Thanks for letting us know. If you can put together a pull request, I'd be happy to include it in a future version.

[2015-08-02 00:44] gortok commented on #674
Can you include a reproduction of this issue that we can use to test?  I'll be happy to re-open this then.

[2015-08-02 00:44] #674 closed

[2015-08-02 00:46] gortok commented on #686
Is this still happening?

[2015-08-02 00:46] #686 closed

[2015-08-02 00:46] christocracy commented on #662
People don't need an angular wrapper to use the premium version.

I've built an ionic-based SampleApp using the standard Cordova plugin.

https://github.com/christocracy/cordova-background-geolocation-SampleApp

[2015-08-02 00:48] #698 closed

[2015-08-02 00:49] gortok commented on #698
0.1.17-alpha is on npm.

```npm view ng-cordova``

[2015-08-02 00:51] gortok commented on #699
merged.

[2015-08-02 00:51] #699 closed

[2015-08-02 00:51] gortok commented on #703
Is this still an issue with the latest version?

[2015-08-02 00:51] #703 closed

[2015-08-02 00:53] gortok commented on #705
It'd help if you could write the wrapper for this and include a pull request for it. It'd definitely get added sooner.  Otherwise I'll add it to the 'new plugin' label and will get to it when possible.

[2015-08-02 01:11] raphaelduartepinheiro commented on #615
@pensiero @vasconcelloslf @barczaG @tombeech
I have the same issue since I updated my Android platform for Cordova 5.0, then all request were failing, I needed to install  `cordova plugin add cordova-plugin-whitelist`
Facebook integration via Cordova comes to life after that. But in console, Cordova asks for meta tag from Content Security Policy. When I do, I get the error of this issue... Without

[2015-08-02 01:14] gortok commented on #706
Not sure of the actual question being posed here. Can you help me out by explaining the issue?   Not all plugins support all platforms; we're just the wrappers for the plugins themselves; so if you would like to write a cordova plugin that works the same across platforms, that'd be an awesome cordova plugin to have, and we'd love to have a wrapper made for it once that happens.

[2015-08-02 01:14] #706 closed

[2015-08-02 01:15] gortok commented on #709
Could you include a Minimal Complete, verifiable example in code?  I'd love to fix this if you can reproduce it and share the code that reproduces this issue with us.

[2015-08-02 01:15] #709 closed

[2015-08-02 01:16] gortok commented on #711
Why the WIP and not pulling the latest version? The WIP Branch is pretty old.

[2015-08-02 01:16] #711 closed

[2015-08-02 01:17] #714 closed

[2015-08-02 01:18] gortok commented on #716
If you could create a pull request with the mocks for this; that'd be helpful.  Since there are a number of plugins we support, we rely on individual contributions to keep the project going.   Otherwise it'd be one of those "When we're able to get to it" sort of things, which may be different than your time table.

[2015-08-02 01:18] #716 closed

[2015-08-02 01:20] gortok commented on #725
If you could include a sample project that reproduces this issue with the latest version, I'd be happy to re-open this issue.

[2015-08-02 01:20] #725 closed

[2015-08-02 01:21] gortok commented on #727
Could you include a pull request fixing the docs on this?

[2015-08-02 01:22] gortok commented on #729
That's awesome!  Since it looks like you're the plugin author, you'd be the best person to write the wrapper for that plugin. if you can write the wrapper and include it as a pull request, we'd be happy to have it.

[2015-08-02 01:23] gortok commented on #730
If you update to the latest version, does this still happen? If so, please include a link to a repro of this problem in a sample project.

[2015-08-02 01:23] #730 closed

[2015-08-02 01:26] gortok commented on #736
Seems like we'd need a better API for this than just 'connect'. other plugins have separate API calls for the act of connecting, the act of reconnecting, disconnecting, and reporting whether or not we're still connected.    I'm not sure how to fix it either; but I'll chew on it.

[2015-08-02 01:27] gortok commented on #732
Can you include a project that reproduces this issue that I can pull from and use to test?

[2015-08-02 01:27] #732 closed

[2015-08-02 01:31] gortok commented on #738
Written at different times, probably by different people; I'm sure there's a reason; but I'm not seeing an actual problem to solve here.  Consistency would be nice; but lower on our list than other issues currently.

[2015-08-02 01:31] #738 closed

[2015-08-02 01:33] gortok commented on #740
If you look at issue #885 ; I show a few commits where I had to create a wrapper for a cordova plugin. It was the first time I created a wrapper.  That's going to be the fastest way to get this integrated.  Create the wrapper and submit a pull request for it.

[2015-08-02 01:35] gortok commented on #767
Thanks for sharing this. It could be  a bug in the underlying plugin; if you can provide code using the wrapper and just using the plugin without the wrapper and it turns out the bug is in the ngCordova code; we'll be happy to fix it. We don't really have the bandwidth to fork and fix the underlying plugins themselves.

[2015-08-02 01:35] #767 closed

[2015-08-02 01:38] gortok commented on #741
If you use the push plugin without the wrapper, does it work? If so, please provide a sample project that uses both ways (with our $cordovaPush and without), so that we can fix the issue in the wrapper if it turns out the wrapper code is the problem. If you use this code on an iOS or Android device, does it work?

[2015-08-02 01:38] #741 closed

[2015-08-02 01:39] gortok commented on #742
Thanks for letting us know. Please include a pull request with these fixes and I'll be happy to merge them in!

[2015-08-02 01:39] #742 closed

[2015-08-02 01:39] gortok commented on #755
Since we're on 0.1.17; this seems like not something to worry about any more.

[2015-08-02 01:39] #755 closed

[2015-08-02 01:41] gortok commented on #744
That's annoying. I'll add a note to normalize and make all of this consistent for a future release.  (if you'd like to speed that process along, feel free to pull and create a pull request that does this!).

[2015-08-02 01:42] #704 closed

[2015-08-02 01:42] gortok commented on #704
Since this is a dupe of #506, closing.

[2015-08-02 01:43] gortok commented on #422
Could you include a minimal reproduction of the issue you're having? I'll be happy to re-open this once you do that.

[2015-08-02 01:43] #422 closed

[2015-08-02 01:45] gortok commented on #775
I've not used the OAuth plugin myself, but my guess is that you'd set up a proxy for your device through something you have fiddler attached to and watch the traffic and make sure the headers are correct.  I'll be happy to accept a pull request when you're ready for us to take a look at it.

[2015-08-02 01:45] #775 closed

[2015-08-02 01:46] gortok commented on #776
Can you include a Minimal Complete Verifiable eXample (A sample project that reproduces this issue)? If you create it as a git repo, I'd be happy to pull, run, and see the issue so we can fix it.

[2015-08-02 01:46] #776 closed

[2015-08-02 01:48] gortok commented on #778
If you can include a sample project that reproduces this issue and uses both the wrapper and the underlying plugin without the wrapper (and shows which works and which doesn't), we'll be happy to take a look at this.

[2015-08-02 01:49] gortok commented on #785
Please include a sample project that reproduces this issue.  I don't see this issue in 0.1.17.

[2015-08-02 01:49] #785 closed

[2015-08-02 01:50] gortok commented on #788
It'd be awesome if all mocks worked in the browser;  sadly we haven't yet written code for all of them to work in the browser. If you'd like to help us by adding one for toast, I'd be happy to accept a PR.

[2015-08-02 01:51] gortok commented on #813
Are you having an issue with ngCordova?  If so, please provide a sample project that reproduces the issue you're seeing and I'll be happy to re-open this issue.

[2015-08-02 01:51] #813 closed

[2015-08-02 01:52] gortok commented on #797
This would be great. If you have a plugin you can suggest; please include a link to it.  Also, if you could help us out by writing a wrapper, I list out how to do that in #885; otherwise I'll put it on the backlog once you've provided a link to a plugin that does this that we should write a wrapper for.

[2015-08-02 01:52] #797 closed

[2015-08-02 01:53] gortok commented on #815
What do you mean by alarms?

[2015-08-02 01:53] #815 closed

[2015-08-02 01:53] gortok commented on #816
If you write a PR that has this fix in it, I'd be happy to take a look and merge it in!

[2015-08-02 01:54] gortok commented on #819
Yea; it seems like there would need to be a Cordova plugin written for this; then we could add a wrapper on top of that. are there any cordova plugins you know of that do this that we should include support for?

[2015-08-02 01:54] #819 closed

[2015-08-02 01:55] #821 closed

[2015-08-02 01:57] gortok commented on #822
Yes; filter is currently busted. I've added a fix for this in PR #891. Thanks for catching this!

[2015-08-02 01:57] #822 closed

[2015-08-02 01:58] gortok commented on #823
If you could include a sample project that reproduces this issue, I'll be happy to take a closer look. Also specify which platform this is failing for (iOS, android).

[2015-08-02 01:59] gortok commented on #827
Thanks for this reproduction. I'll take a look and let you know.

[2015-08-02 02:00] gortok commented on #640
Could you include a project that reproduces this issue with the latest versions?

[2015-08-02 02:00] #640 closed

[2015-08-02 02:01] gortok commented on #831
Please include a sample project that reproduces this issue and we'll be able to take a look more quickly.

[2015-08-02 02:01] gortok commented on #832
Could you include the file you're referring to as well as the commit you're referring to?

[2015-08-02 02:01] #832 closed

[2015-08-02 02:02] gortok commented on #835
I'm really sorry that happened. We love PRs that help fix the docs; could you include a PR with the documentation fix? You're probably the best person to do it since you were just working on this issue.  I'll be happy to look over and merge the PR when it's ready.

[2015-08-02 02:03] gortok commented on #849
If you include a PR that includes that enhancement, I'll be happy to include it.

[2015-08-02 02:05] gortok commented on #850
Could you provide a minimal reproduction of this issue in a sample project? I'll be happy to take a look at the underlying code.

[2015-08-02 02:05] gortok commented on #853
Please include a sample project that reproduces this issue. once you do that, I'll be happy to re-open.

[2015-08-02 02:05] #853 closed

[2015-08-02 02:09] gortok commented on #854
If you can include a sample project that reproduces this issue; I'll be happy to take a look.  I do know that generally cordova isn't loaded in the browser, so it won't be defined.

[2015-08-02 02:09] #854 closed

[2015-08-02 02:13] gortok commented on #863
If you write a PR that includes a wrapper for this; that'd ensure it'd get included much more quickly. Thanks!

[2015-08-02 02:17] gortok commented on #866
If you can update the documentation with a PR and submit that PR, we'd be happy to accept it.

[2015-08-02 02:17] gortok commented on #870
Thanks for catching this. Please submit a PR for this with the fixed documentation.

[2015-08-02 02:19] gortok commented on #873
This would probably cause confusion with the advent of multiple BLE plugins; but we need a better way to handle abandoned plugins vs. active plugins. Perhaps including this in a new major version of NgCordova? as Cordova 5 compatible? Anyone else have any thoughts on this?

[2015-08-02 02:19] gortok commented on #874
Cordova Plugins don't work in the browser.

[2015-08-02 02:19] #874 closed

[2015-08-02 02:20] gortok commented on #893
If you include a sample project that reproduces this issue, we'll be happy to take a look.

[2015-08-02 02:20] #893 closed

[2015-08-02 02:20] gortok commented on #894
I'll take a look, thanks for reporting this.

[2015-08-02 02:30] #750 closed

[2015-08-02 02:38] Kurtz1993 commented on #866
Where should I make de PR of ng-cordova documentation of the webpage http://ngcordova.com/ ?

[2015-08-02 02:40] gortok commented on #866
It's located on the gh-pages branch of this Repo. see the 'contributing.md' doc in the root of this Repo for more directions.

[2015-08-02 02:43] gortok commented on #615
Interesting. Sounds like an issue with the underlying plugin and not ngCordova?

[2015-08-02 02:43] #615 closed

[2015-08-02 03:06] Kurtz1993 commented on #866
Thank you!

Enviado desde mi Windows Phone
________________________________
From: George Stocker<mailto:notifications@github.com>
Sent: ‎8/‎1/‎2015 9:40 PM
To: driftyco/ng-cordova<mailto:ng-cordova@noreply.github.com>
Cc: Luis Rogelio Hernández López<mailto:luis.hlopez@outlook.com>
Subject: Re: [ng-cordova] $cordovaMedia documentation wrong (#866)

It's located on the gh-pages branch of this Repo.

[2015-08-02 03:36] cfjedimaster commented on #853
Here is an example.  Um shoot - I can't upload a zip. Here's a Dropbox link.

https://dl.dropboxusercontent.com/u/88185/ni-test.zip

Appears to be uploading still on crappy hotel wifi so if the link doesn't work, give it a minute. I didn't even inject it in my controller, just loading ngCordova causes the issue.

[2015-08-02 03:38] cfjedimaster commented on #518
Honestly, nothing nice. Maybe throwIfExists.

[2015-08-02 09:31] rpdiss commented on #831
its working now the old plugin was changed and i didn't know that.

[2015-08-02 09:31] #831 closed

[2015-08-02 09:41] iver56 commented on #744
Thanks! Is the code for the generator (which is run on the backend and seems to be hosted at http://ngcordova-builder.appspot.com/) open source? If yes, where is it?

[2015-08-02 09:58] iver56 commented on #454
@gortok This hasn't been solved yet. Could you please reopen this issue?

[2015-08-02 11:50] gortok commented on #744
You're right, I read this issue differently.  I don't know where the code for the custom builder is, but I'll find it and let you know. I ways assumed it was part of the build tasks for this repo.

[2015-08-02 13:48] Zorgatone commented on #148
I need this...
It's not available in DefinitelyTyped's repo

[2015-08-02 13:55] gortok commented on #148
This sounds like a great idea! Feel free to take a stab at it. If you get going and run into issues that you need help with, feel free to open an issue. http://definitelytyped.org/guides/contributing.html

[2015-08-02 14:27] Zorgatone commented on #148
I was learning TypeScript.. I'm not quite ready to write type definitions xD
But if I will write them in the future, I will let you know

[2015-08-02 23:52] jsappme commented on #102
+1

[2015-08-03 01:45] matheusrocha89 opened #901 "[Feat] Add the plugins as submodules"
@nraboy did a great pull request for `ng-cordova-oauth` on this project ( #841 ) adding it as a submodule, it's a great idea. Don't you think it's a better idea to do that with all the others plugins? Doing that it's better to make `ng-cordova` updated with all of them? What do you think

[2015-08-03 01:49] nraboy commented on #901
Thanks for the compliment!  I'm not so certain this would work in all cases though.  I specifically designed `ng-cordova-oauth` for use with AngularJS, but others are wrapped inside ngCordova rather than the plugin itself.

Worth looking into though :-)

[2015-08-03 02:08] matheusrocha89 commented on #901
That's bad, :stuck_out_tongue: If we could do that it will be great, it will be easier to maintain updated.

[2015-08-03 02:10] nraboy commented on #901
Agreed!  Puts less need for intervention on the plugin itself as changes will be automatically piped in.

[2015-08-03 02:33] matheusrocha89 commented on #901
Yes... If some of the other projects are like plugins, like yours, they could starting making pull requests doing that, putting their project on submodules here.

[2015-08-03 02:47] Heshyo commented on #816
See https://github.com/driftyco/ng-cordova/pull/903 (I did a previous PR a few minutes ago but there were conflicts with spaces so I removed it).

[2015-08-03 03:28] gortok commented on #901
I like the idea, one issue is stability.

[2015-08-03 04:10] raphaelduartepinheiro commented on #615
@gortok I don't know if it's **exactly** the same issue as the issue's author.

I'd appreciate to read a feedback about this from him. If you don't mind... :)

[2015-08-03 17:36] matheusrocha89 commented on #901
I believe there is at least one easy project to do that just as a kickstart to incentive the others

[2015-08-04 00:52] seronal opened #908 "v0.1.18-alpha is failing"
After updating to latest version (v0.1.18-alpha), ngCordova fails to load.

[code]

[2015-08-04 01:04] gortok commented on #908
Looks like the oAuth submodule is in a broken state. @nraboy?

[2015-08-04 01:06] mhartington commented on #908
Might be worth ditching the submodule and either
A) Pulling ngCordovaOauth in officially
B) Take ngCordovaOauth out of ng-cordova proper and make it's module

Not a fan of git submodules TBH.
cc @nraboy

[2015-08-04 01:09] gortok commented on #908
At this time, install0.1.17, I'm not near a PC; but if you remove the oAuth module, you'll also be Ok.

[2015-08-04 01:24] nraboy commented on #908
All the haters here with submodules.  Pretty sure it broke because one of the pull requests made some changes that shouldn't have been made.

I will look into it, but in the end one of two things could happen:

1. I fix the submodule in ngCordova
2. I drop support for ngCordova and people use strictly ngCordovaOauth

I tried playing the maintain two repositories game and it didn't work.  I would l

[2015-08-04 01:53] nraboy commented on #908
So it appears gulp-git is asynchronous so it was building the library before the submodule finished downloading.  It worked the first time for me since the submodule had already downloaded before I pushed.

I am working on a fix.

I apologize for wrongfully accusing a bad merge.

[2015-08-04 02:19] mhartington commented on #908
We all make mistakes :grin:

What you could do instead of running gulp-git inline, is this

[code]

This will call git before performing the build task.

[2015-08-04 02:24] nraboy commented on #908
No bueno.  The submodule doesn't finish downloading before the build:

[code]

[2015-08-04 02:49] nraboy commented on #908
Should be fixed now:

https://github.com/driftyco/ng-cordova/pull/909

[2015-08-04 03:31] mhartington commented on #908
Looks good, @nraboy thanks.

Will do a release in the AM.

[2015-08-04 03:31] #908 closed

[2015-08-04 07:35] nielskrijger commented on #901
This might be totally unrelated, but just a couple of hours ago our CI started failing:

[code]

First time I saw this.
Were there any changes made as part of this submodule request that might have caused it?

[2015-08-04 07:54] AbdullahNasir commented on #901
we are also having the same issue as @nielskrijger

[2015-08-04 11:09] pppglowacki commented on #901
We are also having the same issue as @nielskrijger

[2015-08-04 11:22] tcrammond commented on #901
Also having the same problem as @nielskrijger

[2015-08-04 12:04] matheusrocha89 opened #912 "[Bug] ngCordovaOauth not packaged with the others on `ngCordova`"
The new release `0.1.18-alpha` does not packaged within the `ngCordovaOauth` code, I believe it was because of the submodule, maybe I guess it is because the `ngCordova` build process was not configure to download submodules.

[2015-08-04 12:08] matheusrocha89 commented on #901
I opened a issue about it (#912) @nraboy I think you should take a look too.

[2015-08-04 12:17] matheusrocha89 commented on #912
Oh, I saw here that @nraboy already fix that, I guess on the next release will be fix.

[2015-08-04 12:17] matheusrocha89 commented on #901
I saw here that @nraboy already fix it, on the next release will works again.

[2015-08-04 12:47] gortok commented on #912
fixed with tag v0.1.19-alpha.

[2015-08-04 12:47] #912 closed

[2015-08-04 12:49] gortok commented on #901
I think we're going to collect more data on this; think of the oAuth module as the test subject.  We need to hold off on making this a wider thing until we've got a rock solid deployment and regression check process around submodules.

[2015-08-04 12:49] #901 closed

[2015-08-04 14:11] matheusrocha89 commented on #901
@gortok do you have something in mind how to do that on deployment?

[2015-08-04 14:18] gortok commented on #901
@matheusrocha89 http://38.media.tumblr.com/8eb1eb849b8b5fb2452bb74a697900a0/tumblr_mzvc3qNsII1t7xe6go1_400.gif

[2015-08-04 14:21] matheusrocha89 commented on #901
hahahahahaha Ok @gortok . Well I am not an expert on it, but if you need any help I will do my best. @nraboy do you have any idea how to do that? :arrow_up:

[2015-08-04 14:45] nraboy commented on #901
I personally don't use Gulp beyond ng-cordova, so I don't know how to do any regression checks with it.  Because we're using it for building and testing only, I think the best thing we could do in the immediate is switch to 4.x and make all tasks synchronous.  I'm actually surprised we haven't hit other issues in the build process.

[2015-08-04 14:47] gortok commented on #901
@nraboy  I see 3.9 on npm; I don't see a 4.0 yet.https://github.com/gulpjs/gulp

[2015-08-04 14:49] nraboy commented on #901
Lame, so all the forums I've read must be referring to what is coming soon on the Gulp timeline.  I had figured it was already out.

[2015-08-04 18:59] matheusrocha89 commented on #901
@nraboy 4.0 i think is WIP yet, there is a branch on gulp called 4.0.

[2015-08-04 19:45] nielskrijger commented on #901
Thank you all for the fast response and the quick investigation!

I don't fully understand the cause yet, but I am truly grateful.

As submodules appear to be a recent introduction to this project, I have always been told to stay away from them.
I never asked my colleagues why, I never investigated them because I never felt the need to. I did a quick g00gle search;

- http://blogs.atlassian.com/20

[2015-08-04 19:47] cfjedimaster commented on #517
May i ask why this was closed? If you agree it is an issue, shouldn't it stay open? I do want to help, but I'm surprised that this issue is closed when it hasn't been addressed. I may not have time to do a PR. If you don't agree it is a worthwhile report, that's fine, but based on your comment that doesn't seem to be the case.

[2015-08-04 19:54] nraboy commented on #901
@nielskrijger I personally think it is dependent on contributor buy in.  For example, not all plugins included in ngCordova were built for AngularJS.  That is why people have created wrappers for them.  Because of this you cannot just go ahead and include someones Apache Cordova plugin as a submodule because if they introduce breaking changes, you won't have a way to stop it.  So one of two things

[2015-08-04 20:00] mhartington commented on #517
This will stay open until a PR is made to fix the documentation.

[2015-08-04 20:03] mhartington commented on #901
No submodules.
Too many moving parts for little to no gain.

If people have their own plugin wrapper they want to contribute, they can make a PR to add them to ngCordova, or maintain their own repos.

[2015-08-04 20:18] mhartington commented on #879
Sounds like it's an issue with the sqlite plugin. Do you have this issue if you use the raw cordova api?

[2015-08-04 20:23] nraboy commented on #901
Traumatic experience with submodules @mhartington?

The gain would be that ngCordova might get more buy in from developers who don't want to (a) manage and support their libraries in two repositories (b) drop their repository and only contribute to ngCordova.

Unless Ionic gets a fleet of internal developers working on this project, ngCordova will only be as good as the contributions it receives.

[2015-08-04 20:35] gortok commented on #901
That's true; and that's why I want people to give us PRs instead of just raising issues.  It's easy to say, "you need to do this", it's harder to say, "This is an issue; and I don't know how to help, but I want to."

ngCordova only succeeds if we do the latter.  If this were a project with one or two plugins, that'd be one thing -- but ngCordova supports lots of plugin wrappers for 64+ plugins; no

[2015-08-04 20:46] mhartington commented on #873
What is the BLE plugin that you have added a wrapper for?
I like the idea of supporting a minimum cordova version. Only issue with that is cordova-ios is now at 3.9 and cordova-android is at 4.1. So pinning a particular version of cordova is a bit tough.

[2015-08-04 20:53] mhartington commented on #867
Closing this as it is not an issue with ng-cordova, but a but with the cordova-cli
This probably has to do with the move of plugins to npm.
Looks like the first plugin isn't on npm.

[2015-08-04 20:53] #867 closed

[2015-08-04 20:55] mhartington commented on #262
PRs are always welcomed :grin:

[2015-08-04 20:57] gortok commented on #873
https://github.com/randdusing/BluetoothLE is the plugin; the wrapper is available through the first comment link; I'd clean it up before adding it.

I'd like for there to be an easier way for users to be able to see what plugins are supported at their Cordova level; it'd save a lot of heartache; but it does add some complexity on our part.

[2015-08-04 21:01] mhartington commented on #873
Now how does this differ from this BLE plugin?

https://github.com/don/BluetoothSerial
https://github.com/don/cordova-plugin-ble-central

[2015-08-04 21:03] mhartington commented on #894
Can you post your config.xml?

[2015-08-04 21:09] gortok commented on #873
It wasn't until two days ago that an outstanding PR #751 was merge; so I was thinking the evothings was the actual under the hood plugin, and it didn't support Cordova 4.0+; and that led me to creating the wrapper for this plugin.  Since then, i've added a few features to this plugin; notably how to search for specific devices; but that's nothing that couldn't be replicated.

[2015-08-04 21:13] mhartington commented on #839
So the telerik plugins are actually just the standard cordova plugins that have been forked and tested by the people at telerik. There really is no difference between the two.

[2015-08-04 21:13] #839 closed

[2015-08-04 21:49] mhartington commented on #873
So again, what the main difference between the plugins then? Doesn't seem necessary to add another bluetooth plugin. ngCordova does have both the BLE plugins, just no docs at the moment.

[2015-08-04 22:01] nraboy opened #915 "SUGGESTION: Lock plugin versions inside ngCordova wrapper"
So I haven't thought of how to do this really, but I know it is possible and I think it would solve most of the reoccurring issue tickets that I read about.

There are 60+ external Apache Cordova plugins being wrapped in ng-cordova.  These plugins can introduce breaking changes at any given time if the wrapper is not updated to accommodate at the same time.

I propose including an ng-cordova.prope

[2015-08-04 22:31] mhartington commented on #915
Hmm, @gortok and I started talking about this in https://github.com/driftyco/ng-cordova/issues/873 , it would require some work but I think it would be possible.

A lot of this would have to depend on how cordova is handling the move npm.

http://plugins.cordova.io/npm/index.html

So there is an api that we could leverage that to get the cordova plugins and their plugin version.
Again this would r

[2015-08-04 23:34] nraboy commented on #915
I think #873 is similar, but not the same.  In that other ticket I believe you guys are referring to plugin compatibility between versions of Apache Cordova.  In my ticket I am referring to plugin compatibility between versions of ngCordova.

If Apache introduces changes tomorrow for the Camera plugin, will the ngCordova wrapping code continue to function.  Maybe, and maybe not.  By pairing a spec

[2015-08-05 00:09] yreme commented on #894
Thanks for reply! The `demo`  I mentioned is in `https://github.com/driftyco/ng-cordova/tree/master/demo`,  while   `https://github.com/driftyco/ng-cordova/blob/master/demo/config.xml` is  `config.xml`

Here  is the error message:
[code]

[2015-08-05 00:15] yreme commented on #894
when I  add `<content src="index.html" />` in `https://github.com/driftyco/ng-cordova/blob/master/demo/www/config.xml`  as
[code]
then  run  `ionic serve`  , it works \(^o^)/~!!

[2015-08-05 09:21] freiserg commented on #262
+ 1 for In App Purchase

[2015-08-06 07:35] barryvdh opened #919 "New Phonegap Push Plugin"
There is now this Push Plugin: https://github.com/phonegap/phonegap-plugin-push

It seems to have a more consistent API and data object. Also newer options (Android icon image support etc). But it is Cordova 5.x only.

Would this replace the current version? Or would this need a seperate plugin?

[2015-08-06 08:27] leschirmeur opened #920 "Renaming to factory '$cordovaMedia2' in media.js causes issues when trying to inject $cordovaMedia"
It seems that the $cordovaMedia factory in the Media plugin (media.js) has been renamed to $cordovaMedia2. This is causing issues when injecting $cordovaMedia. A bower install ngCordova installs version 0.1.19-alpha in which the factory has been renamed. This renaming is not present in version 0.1.17-alpha.

[2015-08-06 12:27] gortok commented on #920
Yea; it appears this change was made in PR #871;  Errgh.

[2015-08-06 12:40] gortok commented on #919
We've talked about this elsewhere, specifically in #873.  What to do about hosting different versions of Cordova compatible plugins?  This requires a little design work and some thought, but I have some ideas around this. In the meantime; the best way to get a plugin included (no matter if it exists or not), is to create a PR that has an implementation + docs for that implementation.

[2015-08-06 12:42] barryvdh commented on #919
And how should I name it? `$cordovaPush2` sounds a bit weird..

[2015-08-06 12:44] gortok commented on #919
Yea; lets stay away from that as much as possible (same with 'newMedia' [just learned my lesson there]). As a working title, $cordovaPushv5 would work; we'll rebase if the better solution comes along before you're done with your PR.

[2015-08-06 12:49] barryvdh commented on #915
You could think about splitting up the repositories and let Bower (or npm etc) handle it.

So 1 'core' package with just the shared stuff. Then for each plugin a seperate repository, which requires the core package.

This does make it more work to maintain, because every repo has a lot of files, but it make it easy to install with Bower. Eg. I just want the push plugin:

`$ bower install ng-cordov

[2015-08-06 12:57] JavierMartinz commented on #919
:+1:

[2015-08-06 13:03] gortok commented on #915
@barryvdh I like this idea because it would also show the relative popularity of each plugin. As it stands right now all plugins are equally included, meaning that we don't really know if there's one user of a plugin or a thousand.  By putting these wrappers in different Repos; we'd have a better sense of which are used and which are just (and should be) abandoned.  The downside (of course) is fro

[2015-08-06 13:08] barryvdh commented on #915
Yeah you would get more repo's to watch, but the amount of issues would probably be the same ;)
You could also add more maintainers for just 1 repo, keep the issues organised per plugin and set an example so that other people can just make their own plugins on their own repo if they want.

[2015-08-06 13:09] gortok commented on #915
@barryvdh  I don't quite understand your last comment; can you expand on it?

[2015-08-06 13:15] barryvdh commented on #915
Right now, you just maintain all the plugins right?

So for the new push plugin (#919), instead of creating a PR, I could just create my own repository, require the core package and use + maintain that. You guys could just link the package and reference it in some build package if you must.

Or if it's popular enough, transfer it to the ng-cordova organisation. (Which you would need to create, so

[2015-08-06 13:29] gortok commented on #915
@barryvdh  That makes sense. One reason we don't do that currently are when things like the oAuth module are changed and regression, people could blame us even though we have no control over that.  If there were separate repos, I'd probably insist on keeping a small group of maintainers around them with either DriftyCo or Jewelbots organizational control (or a separate organization created for thi

[2015-08-06 14:08] mhartington commented on #915
I don't think we need to make separate repos for each plugin. The speed at which apache moves does give us a lot of time to test out plugins from Github directly to make sure that everything works so I'm not too concerned.

As far as future version of ngCordova goes, yes it will move to plain observables, but the benefit there is that the end user shouldn't have to change much in there code. All o

[2015-08-06 14:08] #915 closed

[2015-08-06 14:13] barryvdh commented on #915
It's not just the speed of Apacha, but also for each plugin.

What if Geo makes a new version, that breaks BC. And Push releases a new version that I can't use yet. If you update both plugins in this repo, I must either use the latest version for both, or the old version for both. You can't selectively choose..

[2015-08-06 14:18] mhartington commented on #915
At least for the official cordova plugins, there is a release process that each one goes through and then they get put to a vote. They all get tested to make sure they don't break the other plugins.

If the geolocation plugin gets updated, we can be sure that it wont break another plugin.

[2015-08-07 15:37] softBarbarian commented on #867
`npm install -g cordova@5.0.0` worked for me!

[2015-08-09 01:45] elpalpitar commented on #867
@softBarbarian  worked for me, too. Thanks a lot

[2015-08-10 07:42] metazool commented on #624
I just ran into this issue, it took some digging around in logcat to spot it.

Please apply the fix if there's no strong reason not to.

[2015-08-10 10:50] krish-dev opened #926 "Background Geoloc ng-cordova js not updated"
https://github.com/christocracy/cordova-plugin-background-geolocation
this plugin is used
window.BackgroundGeolocation

but ng-cordova is used may older version (and we got error to use this plugin)
$window.plugins.backgroundGeoLocation
https://github.com/driftyco/ng-cordova/blob/master/src/plugins/backgroundGeolocation.js

[2015-08-10 18:10] richellyitalo opened #927 "ProgressIndicator not defined"
Problem when run the app with package Progress Indicator.

Error message: "ProgressIndicator not defined"

[2015-08-10 19:09] mhartington commented on #927
This looks like an error with plugin as not using ng-cordova still has an issues. Closing since ng-cordova is not the source of the issue.

[2015-08-10 19:09] #927 closed

[2015-08-11 06:50] nasht00 commented on #63
I followed the ionic push tutorial and I get:
[code]

Is this the same issue?

[2015-08-11 08:02] leon opened #929 "build(npm): Please release the new version to npm"

[2015-08-11 12:45] shulamit74 commented on #867
same when trying cordova plugin add https://github.com/jsHybugger/cordova-plugin-jshybugger.git
solved after npm install -g cordova@5.0.0
thanks!

[2015-08-11 14:20] gortok commented on #895
Thank you!

[2015-08-11 16:32] sebfie commented on #741
Any example to use push with wp8?

[2015-08-12 19:07] gortok commented on #929
I've been added to the npm deploy; I'll push one out today.

[2015-08-13 02:09] gortok commented on #929
I'll issue a release to npm once the PR #932 is done on Travis-CI.  It'll be a new release.

[2015-08-13 02:13] #920 closed

[2015-08-13 02:21] gortok commented on #929
Done. v0.1.20-alpha is on npm and bower.

[2015-08-13 02:21] #929 closed

[2015-08-13 06:35] leon commented on #929
@gortok Awesome!

[2015-08-13 10:19] umar13893 commented on #867
npm install -g cordova@5.0.0 Its worked for me

[2015-08-13 13:33] gortok commented on #873
The BluetoothSerial is for serial communication over bluetooth; and the ble.js wrapper is the standard BLE wrapper; we don't need multiples them, you're right.

I'll continue using the bluetoothle plugin (the custom one in my repo), and will put docs around it.

[2015-08-13 13:33] #873 closed

[2015-08-13 13:40] gortok commented on #866
Thanks for doing this.

[2015-08-13 13:40] #866 closed

[2015-08-13 13:42] gortok commented on #860
Closing as the initial issue brought up is not an ngCordova issue (turns out the $ionicPlatform.ready call was required).  @dangnelson If you can open a separate issue with a reproducible snippet for the $cordovaKeyboard.disableScroll() issue, we'll be happy to take a look.

[2015-08-13 13:42] #860 closed

[2015-08-13 13:58] dangnelson commented on #860
The disable scroll issue I had ended up being a conflict with an auto focus which I've addressed in the keyboard plugin git. The wrap above did in fact solve my problem. Thanks

[2015-08-13 14:26] joeyrobert commented on #672
Seeing this issue as well. I would think the correct behaviour would be to reject the `$cordovaPush.register()` promise.

[2015-08-13 19:38] Kurtz1993 commented on #827
@MichaelJCole I've checked your code and I see where's the problem. It's in your $scope.openMedia function.

$scope.openMedia = function(filePath) {

    $scope.filePath = $scope.fileName($scope.fileTitle)

    return $cordovaMedia.newMedia($scope.filePath)
    .then(function (success) {
      console.log('success openMedia');
      console.log(success);
    }, function (error) {
      console.log

[2015-08-13 21:46] mininao opened #934 "Oauth is not found in custom build"
When using the custom build feature here : http://ngcordova.com/build/ and checking only "oauth" and "oauth tools", the following file is created :

[code]

Maybe this is related to the fact that oauth is in a submodule ?

[2015-08-14 18:47] MichaelJCole commented on #827
@Kurtz1993 Thanks for following up!  I'll check it out.

[2015-08-16 16:41] andrewglancy opened #938 "iOS 8.4.1 - Links not opening"
After the upgrade to iOS 8.4.1 links are not responding to tap in our ngCordova apps. After exploring we found the note included in the iOS 8.4.1 security release notes. We have been able to fix the issue with a library called https://github.com/ftlabs/fastclick .

<b>Are other's seeing issues tapping <a> links in iOS 8.4.1 and if so is there a proper solution to this issue?</b>

<b>Below is a scr

[2015-08-16 16:58] mhartington commented on #938
Hmm, are you seeing this using ionic as well?

[2015-08-16 18:31] andrewglancy commented on #938
@mhartington - We are just using the ngCordova extensions directly. We are not using ionic.

[2015-08-16 22:19] swaffoja opened #939 "Update HealthKit to support all available functions"
ngCordova HealthKit wrapper is missing the following functions:
* sumQuantityType
* monitorSampleType
* saveQuantitySample
* saveCorrelation
* queryCorrelationType

Cordova HealthKit Plugin functions (https://github.com/Telerik-Verified-Plugins/HealthKit):
* available: check if HealthKit is supported (iOS8+, not on iPad)
* checkAuthStatus: pass in a type and get back on of undetermined | denied |

[2015-08-16 22:23] swaffoja commented on #939
Feature request. Will probably do it myself in the next week or so.

[2015-08-17 03:00] zeeshanjan82 opened #940 "$cordovaFile"
I have a requirement where I need to play a ringtone which is already shipped by default with android phone. I am building an cordova app using angular and ng-cordova and do not want to ship .mp3 files with my app instead would like a fixed ringtone to be played on the click of the button.

My question is can $cordovaFile access the folder on android were the ringtones are stored and can I be able

[2015-08-17 11:41] josemadev commented on #619
I want to read the photo that i saved previously.

[2015-08-17 17:21] mhartington commented on #938
Hmm, alright. Just to be sure, can you give this a try without ngcordova and just use the raw cordova api. Ngcordova shouldn't be messing with click/touch events, so I'm not sure the issue is here.

[2015-08-17 17:22] mhartington commented on #934
Since OAuth is a submodle, it would have to be installed separately.

[2015-08-17 19:54] devtosystems opened #943 "EXDEV, Error clone repository pushplugin"
Hello guys!

I do not running pushNotification plugin of the ionic tutorial. ;(
The error log appears below.
Should they need more information, please do not forget to ask.

[code]

The tutorial I push then you need the cord push the plugin is as follows:
http://docs.ionic.io/v1.0/docs/push-from-scratch

Clicking on the button "push" in the browser displays the error below:

[code]

Please, help m

[2015-08-18 05:49] pavan777 commented on #894
I uploaded the files to phonegap build, and ran the app on android mobile. It was showing fine but all mobile features like camera, battery etc are not working

[2015-08-18 06:07] yreme commented on #894
yes `phonegap serve`  works， but ` ionic serve` would report above error!

[2015-08-18 12:50] mininao commented on #934
Alright ! Maybe it should be removed from the custom build feature then ?

[2015-08-18 13:23] gortok commented on #934
OAuth will be removed from version 0.2.0. (next release); I'll include notes on how to install it if you want it.

[2015-08-18 16:36] mininao commented on #934
Cool, thanks ;)

[2015-08-18 20:45] verkaufer commented on #743
Adding on as another case where the geolocation is failing. Running Android 5.1 with Location turned on (I can see the app as a requestor when looking at my Locations permissions).

[2015-08-18 22:09] molerat619 commented on #63
@nasht00 same thing for me

[2015-08-18 22:26] molerat619 commented on #63
I used it in the browser and had to set dev_push to true first, like this:

`ionic config set dev_push true`

[2015-08-18 23:55] Alphatiger opened #944 "IOS pushnotification sound"
In NgCordova push notification sample code

  $rootScope.$on('$cordovaPush:notificationReceived', function(event, notification) {
      if (notification.alert) {
        navigator.notification.alert(notification.alert);
      }

      if (notification.sound) {
        var snd = new Media(event.sound);
        snd.play();
      }

A sound file is being played explicitly, is this mandatory or if i s

[2015-08-19 02:00] newelement opened #945 "iBeacon"
Noticed iBeacon is on the plugin documentation page, but it's not in ng-cordova.js yet.

[2015-08-19 02:02] gortok commented on #945
I'll be in the next version of ngCordova; which will also be the same version that removes the OAuth submodule.

[2015-08-19 02:04] newelement commented on #945
Thanks! ETA? Do I need to remove it for now?

[2015-08-19 02:07] gortok commented on #945
@newelement OAuth submodule? Only if you want to.

[2015-08-19 02:10] newelement commented on #945
Just checking when iBeacon will be available in ng-cordova.js

[2015-08-19 09:00] kewix commented on #867
Thanks, npm install -g cordova@5.0.0 also finally worked for me :)

[2015-08-19 13:22] Duovili opened #946 "Camera not sending updated URI"
I keep getting this issue where the camera is returning the same data URI regardless of the pic.

[2015-08-19 13:55] gortok commented on #946
Can you provide a sample repo that reproduces this issue?

[2015-08-19 14:17] Duovili commented on #946
I know what the data URI is and I have gone through my code and its no where there is like its cached is there a way to clear data?

[2015-08-19 14:18] gortok commented on #946
It's hard to help you without you providing me with a sample repo I can use to look through this problem with you. Without that it's just me guessing at possibilities.

[2015-08-19 16:05] Duovili commented on #946
I george sorry I only have my local version how can I send you that? Below is tge data URI i keep getting. I have done a clean install and still getting this error. I need  to launch last week so any help would be appreciated.

data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY

[2015-08-19 16:06] gortok commented on #946
I'd put the code used to do this on github in a minimal example so I can build and run it on my own device; and then I can see what you're seeing and see if it's a problem in Code.  You can also try running the Cordova plugin directly without the ngCordova extensions to see if it's an ngCordova bug or a cordova plugin bug.

[2015-08-19 16:10] Duovili commented on #946
below is the code I am using. and i am using the ng cordova plugin. I am running an alert before I touch the code and the data is already edited there. I have tested this on multiple devices and its still showing. I dont know where this could be getting set.

var options = {
                                quality: 50,
                                destinationType: Camera.DestinationType.DATA_UR

[2015-08-20 02:49] newelement commented on #945
Just to also note, if I do a custom build of ngCordova and choose iBeacon in the list, it is not included in the build.

[2015-08-20 13:52] joequah1 commented on #867
"npm install -g cordova@5.0.0"  works for me, thanks

[2015-08-21 12:37] fmaceachen opened #948 "CardIO is missing as ngCordova.plugins dependency"
I´m working on ngCordova 0.1.20-alpha and ngCordova.plugins.cardIO is not being set as a dependency of 'ngCordova.plugins'.

Regards.

[2015-08-22 04:33] match08 opened #949 "cordova-progressIndicator in android is not working"
cordova-progressIndicator in android is not working,ios working

[2015-08-22 17:14] jonalling opened #950 "Device Motion watchAcceleration() is not working on iOS"
Setting up a new app and getCurrentAcceleration() works properly, but watchAcceleration() doesn't return an asynchronous value or any value at all. I am using the example code.

iOS 8.4

[2015-08-22 21:22] jonalling commented on #950
Working now.

[2015-08-22 21:22] #950 closed

[2015-08-23 03:40] rlrhett opened #952 "Cannot Unit Test Angular Factory if $cordovaCalendar is injected n.plugins.calendar undefined"
I need to test a service that depends on $cordovaCalendar.  I understand that using Karma to run tests in the browser I cannot actually test a non-existant calendar.  That's OK.  I just want to unit test other methods on my Factory.  In fact, I'm only using the findAllEventsInNamedCalendar method. What I need to do is mock out $cordovaCalendar to send Karma some pre-defined mock events.

I can't g

[2015-08-24 19:11] ygModesto opened #953 "bower ENORESTARGET"
When I execute "bower install ngCordova" command in a project, for instance, a project created with "ionic start myApp sidemenu", bower command responses with:
[code]

[2015-08-25 08:11] Duovili commented on #946
I finally solved this by doing a clean install and reinstalling the plugin

[2015-08-25 08:22] sfvaleriano commented on #953
Hi,
I've same error (bower version is 1.5.1)

[2015-08-25 12:35] nileshlg2003 commented on #953
same with me too

[2015-08-25 13:36] mhartington commented on #953
Hmm, what version of bower do you have? I just gave this a try and it install without an issue.

[code]

[code]

[2015-08-25 14:04] ygModesto commented on #953
My bower version is 1.5.1

[2015-08-25 14:43] mhartington commented on #953
Ahh, alright, updated my bower version to that and got the same thing.
Hmm, not sure what could be causing the issues. Here's the bower changelog

https://github.com/bower/bower/blob/master/CHANGELOG.md

@gortok, we may need to do another release.

[2015-08-25 16:16] nathantsoi commented on #867
5.2.0 (latest release), also appears to be working, so this fixed it for me: ```npm update -g cordova```

[2015-08-25 16:19] mhartington commented on #867
Confirming that 5.2 works as well. Please update your cordova version.

[2015-08-25 16:52] drastick commented on #953
+1

[2015-08-25 17:09] gortok commented on #953
@mhartington I'll investigate and do another release.

[2015-08-25 21:58] marcussaad opened #954 "$cordovaFacebook invalid key hash"
So, I'm implementing facebook auth and managed to get it working on Genymotion and android's emulator.

Code for reference:
[code]
When deploying to my device, I'm getting
```Invalid key hash. The key hash <key_here> does not match any stored key hashes```. The point is, this key being mentioned by this error message is far from being close to the one I've generated and have set on the developers.

[2015-08-25 22:11] marcussaad commented on #954
Right. Figured it out finally.

For those who may run into this issue in the future, on linux and mac this key hash will be pulled from
[code]
In order to find out what the hash key will be, you may use
[code]
Then proceed to developers.facebook.com, select your app, include Android as platform, and include the value given by the previous command in the 'Key Hashes' input.

You're good to go!

(/m

[2015-08-25 23:20] verdi327 commented on #500
Thanks for this workaround

[2015-08-26 13:23] root-io commented on #926
Same issue, I downgraded to 0.3.6 but I don't manage to get the location

[2015-08-26 22:13] neoadventist commented on #926
I'm having the same issue!

[2015-08-27 01:38] Heshyo opened #955 "PushPlugin: foreground not working on iOS"
I correctly receive notifications on iOS and Android when the app is not started or in background, but when the app is in foreground, my event is only called on Android, not on iOS (iPhone 4S on iOS 6.1.2 and 8.4.1).

Has anyone experienced this? Are foreground notifications on iOS supposed to be handled differently?

[2015-08-27 06:50] hhb19900618 opened #956 "你好 怎么运行呢？"
这个是demo吗？怎么不知道如何运行？

[2015-08-27 06:52] cyberdak commented on #956
你得现有ionic项目，然后需要ngCordova插件的话，跟着ngCordova网站上门的install页面安装就行了

[2015-08-27 11:59] gortok commented on #953
Likes like Bower's [PR #1852](https://github.com/bower/bower/pull/1852) broke this because we do a lot of prereleases;  I'll issue a non-prerelease version of the mainline, that *should* resolve this issue.

[2015-08-27 12:12] gortok commented on #953
I updated to 1.5.2 and was able to install ngCordova without any issues; I'll still issue a general release for everyone on 1.5.1; but I'm surprised I didn't get this error in 1.5.2.

[2015-08-27 12:16] gortok commented on #953
Ah, they reverted the behavior in 1.5.2 to be the 'old' behavior, so pre-release branches work again: https://github.com/bower/bower/issues/1896

That's why 1.5.2 works and 1.5.1 doesn't.

[2015-08-27 12:22] mhartington commented on #953
semver broke semver...way to go bower.
Cool, thanks @gortok

So everyone should update to bower 1.5.2 to resolve this issue. Closing this for now.

[2015-08-27 12:22] #953 closed

[2015-08-27 12:23] #956 closed

[2015-08-27 12:28] gortok commented on #946
I'm glad this was solved.  I know it seems painful; but there are so many  moving parts that a problem can be caused by half a dozen things;  asking for a clean repo helps ensure that we're not chasing ghosts.

[2015-08-27 12:28] #946 closed

[2015-08-27 12:34] gortok commented on #949
What device are you testing against in Android and what is the Android version on that device?  Can you provide a link to a clean repo that reproduces this issue?

[2015-08-27 12:48] gortok commented on #954
Thanks; this is really helpful. would you consider putting this into docs form and adding it to the plugin wrapper docs for the Facebook plugin?

[2015-08-27 12:48] #954 closed

[2015-08-27 12:57] gortok commented on #955
Can you provide a link to a github repo that reproduces this issue minimally?  ionic start myApp blank and provide the code that you see caues this? It'll help us investigate and fix this issue if it's in ngCordova faster.

Another question to ask; do you see this when you use the cordova plugin directly, instead of the wrapper?

[2015-08-27 13:14] Joeeeeh7 commented on #894
What yreme says, but a lot of plugins doesn't seem to work with me? In log i get errors like:

[phonegap] [console.error] Error: undefined is not an object (evaluating '$window.datePicker.show')
[phonegap] show@file:///var/mobile/Containers/Data/Application/09550BAE-D120-4953-A059-11A169F1FE3F/Library/files/phoneg
apdevapp/www/lib/ngCordova/dist/ng-cordova.js:1527:27
[phonegap] pick@file:///var/mo

[2015-08-27 13:23] gortok commented on #894
Hm.  I'll dig into this deeper; I'm able to reproduce this issue.

[2015-08-27 13:27] Joeeeeh7 commented on #894
This is what i get when i use phonegap serve, when i'm building it by build.phonegap.com and run it on an android device, theres no plugin which does work. Seems like something is wrong!

[2015-08-27 14:23] match08 commented on #949
My device is chinese xiao mi 2 , android is 4.1.   cordova-progressIndicator  some  api  not woring android, ios is woring.   i look this http://paolobernasconi.com/cordova-progressIndicator/
cordova-progressIndicator  Android so coming soon.

[2015-08-27 14:55] marcussaad commented on #954
@gortok Yes, of course. Can you point me to docs repo? The second one you refer is https://github.com/Wizcorp/phonegap-facebook-plugin/blob/master/platforms/android/README.md ?

[2015-08-27 20:35] jskrzypek commented on #883
We're experiencing this same issue as well, I'll submit a PR.

[2015-08-28 11:32] Joeeeeh7 opened #960 "Error: undefined is not an object in $window.plugins [HELP]"
Hello guys,

All plugin's wich make use of $window.plugins doesn't seem to work.

Error:

[phonegap] [console.error] Error: undefined is not an object (evaluating '$window.plugins.flashlight.switchOn')
[phonegap] switchOn@http://192.168.100.110:3000/lib/ngCordova/dist/ng-cordova.js:2845:35
[phonegap] on@http://192.168.100.110:3000/app/flashlight/flashlight.ctrl.js:5:34
[phonegap] $parseFunctionCal

[2015-08-29 15:24] ygModesto opened #961 "Backgound Geolocation plugin"
The Backgound Geolocation github plugin is moved and it's a premium version.
A legacy version url : https://github.com/christocracy/cordova-plugin-background-geolocation/tree/0.3.7

[2015-08-30 17:00] awebdeveloper opened #962 "do i still need to put my code in device ready"
As per this http://blog.ionic.io/moving-forward-with-ngcordova/ you ppl had plans to remove this.

So is it done coz the doc still says to put it in device.ready

[2015-08-30 18:33] mhartington commented on #962
This has not been added in yet.

Mike Hartington

[2015-09-01 08:33] fabienthetis commented on #63
Check that the plugin Cordova: com.phonegap.plugins.PushPlugin" is installed in your project.

to check the list of plugin install : cordova plugin list

[2015-09-01 09:44] sidlauskaslukas opened #963 "PushPlugin is deprecated"
"This plugin is deprecated, i.e. it is no longer maintained. Going forward additional features and bug fixes will be added to the new phonegap-plugin-push repository." https://github.com/phonegap-build/PushPlugin

When the new plugin will be available in ng-cordova?

[2015-09-01 12:21] Benew commented on #697
+1

[2015-09-01 12:22] VincentPuget commented on #697
+1

[2015-09-01 14:31] gortok commented on #963
I'm looking into it today. I'll let you know.

[2015-09-01 18:58] kevinvdburgt commented on #697
+1, why is this gone ? Is there an alternative ?

[2015-09-01 22:36] nraboy commented on #934
Is it being removed from the custom builder or ng-cordova entirely?

[2015-09-01 22:52] mhartington commented on #934
It will be removed completely. We will point to your repo instead

[2015-09-01 22:56] nraboy commented on #934
Fair enough.  Thanks for clarification :-)

[2015-09-02 07:08] VincentPuget commented on #697
You can use this as alternative for listDir method:
[code]

[2015-09-02 09:01] lintangarief commented on #671
hy nraboy ,

i have question about login twitter with ng-cordova auth. but result, just show token and screen name. how to get email user after get token and screen name ?

[2015-09-02 15:42] nraboy commented on #671
Oauth is for getting access tokens to the Twitter API.  If you want to get data from Twitter you'll have to use the oauth token with their APIs.  I encourage you to read their documentation for what you're looking for.

Best,

[2015-09-02 16:19] shprink commented on #963
Just found out myself. +1 thanks :)

[2015-09-02 16:20] gortok commented on #963
I'm writing the wrapper for this plugin today; shouldln't take too long.  It'll go into the next version.

[2015-09-02 16:21] shprink commented on #963
one word: AWESOME!

thanks

[2015-09-03 01:38] ptarjan opened #966 "releases doesn't mention 0.20."
https://github.com/driftyco/ng-cordova/releases

[2015-09-03 01:40] gortok commented on #966
Nice catch. I hadn't checked there. ::sheepish grin::.

[2015-09-03 01:59] ptarjan commented on #966
I found it by viewing https://github.com/driftyco/ng-cordova/blob/master/CHANGELOG.md

If that is the wrong place to look for what is new in 0.20 please point it at the right place.

[2015-09-03 08:05] sidlauskaslukas opened #967 "cordova-open instead of cordova-plugin-file-opener2?"
What do you think about using cordova-open plugin instead of cordova-plugin-file-opener2? cordova-plugin-file-opener2 has critical issue which makes this plugin not usable to me: you are not able to attach files to email on iOS using Mail.app and no one is fixing this https://github.com/pwlin/cordova-plugin-file-opener2/issues/17 (this issue was opened on Dec 5, 2014)

[2015-09-03 16:55] bruno-serfe commented on #693
Hey Guys I've tried both ways and nothing works.. this is still an issue? I've followed this article but I cannot get the device resgistration id.

[2015-09-04 11:47] root-io commented on #926
Someone has manage to make it work for both android and ios ?

[2015-09-05 14:41] jbielick commented on #961
+1 - the new repo code doesn't seem to mount `backgroundGeoLocation` to `$window.plugins` and cannot be used as expected / documented. Installing `#0.3.7` doesn't seem to work either:

[code]

[2015-09-06 15:47] jskrzypek commented on #883
@gortok Is my PR acceptable?

[2015-09-07 08:35] willmore opened #968 "$cordovaGoogleAnalytics docs source link incorrect"
The "Source" link on http://ngcordova.com/docs/plugins/googleAnalytics/ incorrectly points to:

https://github.com/driftyco/ng-cordova/blob/master/src/plugins/ga.js

The link should point to:

https://github.com/driftyco/ng-cordova/blob/master/src/plugins/googleAnalytics.js

[2015-09-07 20:11] aslani75 commented on #462
Calling bluetoothSerial direct without using ngcordova works. It solved my problem.

$window.bluetoothSerial.subscribe(delimiter, function (data) {
//do something with data
});

[2015-09-08 05:17] dezudas commented on #960
I am going through the same problem :(

[2015-09-08 08:55] anuragranjan242 commented on #646
selected page only------------
$scope.$on('$ionicView.beforeEnter', function(){
    screen.lockOrientation('landscape');
});

[2015-09-08 13:58] bluehayes opened #969 "Custom build tool has invalid output"
Visit http://ngcordova.com/build/, then select the dialogs module and hit build.

The output contains:

[code]

but should be:

[code]

The `ngCordova.plugins` module has the wrong name for `ngCordova.plugins.dialogs`.

Thanks

[2015-09-09 08:40] ericgeurts commented on #697
Thanks Vicent!

[2015-09-09 15:11] mellinas commented on #963
+1, it would be great, thanks :)

[2015-09-09 15:14] paulogr commented on #963
Waiting for it!!

[2015-09-09 15:15] gortok commented on #963
Debugging it now. Will push when it's ready.

[2015-09-09 16:19] jsappme opened #970 "Cordova Camera crashing on iOS when using photo edit option"
Here is my code:

[code]

After editing (in my case zooming in) and submitting the photo, the picData never arrives. It makes the app hanging for nothing and it never returns an error. Anybody else has the same issue?

[2015-09-09 16:22] ronyrun commented on #963
+1

[2015-09-10 08:26] leitom opened #971 "Front camera flipps the picture."
The picture taken by the front(only) camera get's flipped.

Have tried using the property: correctOrientation: true but that does not work.

Tested on android(latest) and ios(latest).

[2015-09-10 13:12] MateuszWilk commented on #963
+1

[2015-09-11 02:27] lulee007 opened #972 "[Bug] duplicate decalration:"version" found in ng-cordova-mocks.js"
in line 604 and line 615 duplicate decalration of `version`?
line 615 should be `manufacturer`?
[code]
![unknown](https://cloud.githubusercontent.com/assets/5875280/9805748/53bc299a-586f-11e5-994b-37f9fb8b110d.png)

[2015-09-11 22:04] gortok commented on #963
I had some trouble getting my Push Notifications working through Parse's service; hence the trouble.  That'll be a separate plugin; but for now here's the plugin I'm using. There's some cleanup I need to do before adding it in, but it's available here: https://github.com/Jewelbots/ng-cordova/

[2015-09-11 22:05] gortok commented on #963
When the docs are cleaned up and everything's added in, I'll submit a PR.

[2015-09-14 14:41] fazermokeur commented on #963
Thank you for your work @gortok
How could we update and test the upgrade via bower? We currently use the 0.1.17-alpha, should we wait for the 0.1.21-alpha release, or is there any other way to do this?

[2015-09-14 14:58] gortok commented on #963
@fazermokeur It'll be going into dev-next shortly, and will be part of the 0.1.21-alpha release.

[2015-09-14 15:02] nraboy commented on #945
@newelement in case you didn't want to wait around for it to appear in ng-cordova, I've set up a repository for it:

https://github.com/nraboy/ng-cordova-beacon

Best,

[2015-09-14 16:28] dcp3450 opened #976 "cordova.file is undefined with cordova-plugin-file installed"
I have `cordova-plugin-file` installed as per the ngCordova, plugin github, and the npm repo suggests.

I've placed the variable in my controller and attempted to output the object:

[code]

[2015-09-14 16:28] #976 closed

[2015-09-14 16:32] dcp3450 opened #978 "cordova.file is undefined with cordova-plugin-file installed (Windows 8.1)"
I have `cordova-plugin-file` installed as per the ngCordova, plugin github, and the npm repo suggests.

I've placed the variable in my controller and attempted to output the object:

[code]

`console.log(cordova.file)` outputs as undefined. However, `console.log($cordovaFile)` outputs the functions as expected in the object.

Obviously the plugin is loaded and running but the `cordova` object isn'

[2015-09-14 20:59] ronyrun commented on #963
:1:

[2015-09-14 20:59] ronyrun commented on #963
:+1:

[2015-09-15 13:20] sjlynch commented on #697
Wow, thanks Vincent!

[2015-09-15 14:46] bmwertman opened #979 "Showing a QR code in email(Gmail) body using social sharing"
I'm using the ng-cordova social sharing plugin to generate a pre-filled email to send.

I want to include a QR Code generated using [angular-qr](https://github.com/janantala/angular-qr). It seems that Gmail is blocking it due to the lack of a `src=" "` attribute in the `<qr></qr>` tag directive.

 Any ides for a way around this?

[2015-09-16 14:43] andel7 opened #980 "documentation geolocation error"
Documentation says that getCurrentPosition(options) - Returns Object with user information, such as id, lastName  - I think it might be a mistake.
http://ngcordova.com/docs/plugins/geolocation/

[2015-09-16 18:21] don opened #981 "$cordovaBLE.startNotification shouldn't use a Promise"
[$cordovaBLE.startNotification](https://github.com/driftyco/ng-cordova/blob/d6d6d4bf58210bfd70106bd27469b19f4424dde7/src/plugins/ble.js#L80) shouldn't use a Promise.

[ble.startNotification](https://github.com/don/cordova-plugin-ble-central#startnotification) calls the success callback whenever the value of a Bluetooth characteristic changes. This callback may be called **many** times so a promise

[2015-09-16 18:28] gortok commented on #981
This is also covered in issue #750; and it's an issue we also experience in the (different) BluetoothLE plugin wrapper we use at @Jewelbots: https://github.com/Jewelbots/ng-cordova-bluetoothle.

Some plugins handle this through an eventing system, using `$rootScope.emit` instead of returning a value from a promise resolution:

https://github.com/gortok/ng-cordova/blob/phonegap-push-plugin-addition

[2015-09-16 19:40] mhartington commented on #981
@gortok So should this be fixed with https://github.com/driftyco/ng-cordova/pull/836 merged in?

[2015-09-16 19:59] gortok commented on #981
@mhartington #750 and #836 targeted the same bit of code; the code in question here is a different bit (startNotification vs. scan); so the code in #750 would need to be added for the `startNotification` function for this to be resolved.

[2015-09-16 20:26] mhartington commented on #981
Is that already in the works?

[2015-09-16 20:33] gortok commented on #981
@mhartington No. I'm currently integrating the wrapper for the push plugin; Expected that to be finished soon, and if no one jumps on it before then I can take a look at this.

[2015-09-16 20:47] don commented on #981
q.notify might work, but that infers the promise will be resolved at some point, which is incorrect for a bluetooth notification. The bluetooth notification lives until the user disconnects (or less common, until it's manually stopped.)

[2015-09-16 20:50] gortok commented on #981
@don That's a great point.  It's also something I've struggled with, promises are the new hotness but they don't catch these sorts of situations.  Observerables are obviously preferred; and are generally done using $rootScope.emit() / $rootScope.on() in AngularJS 1.x. This is probably the route we should go for the BLE wrapper; much like this: https://github.com/gortok/ng-cordova/blob/phonegap-pus

[2015-09-17 04:33] don commented on #981
@gortok I wouldn't want to emit the same event for all notification. Having one callback per characteristic notification makes sense for BLE services I use. I need to write an BLE ionic app to figure some of this out.

[2015-09-17 13:31] gortok commented on #981
@don That's a really good point. Perhaps we could dynamically register events to listen for, instead of the hardcoding that's done in the push plugin?

[2015-09-17 20:22] jonalling commented on #981
@don if it helps, this is the development app I am writing to explore BLE in Ionic.

https://github.com/jonalling/cordovaDev

Scan, Connect, Read all work, Notify only returns the one value which we've been discussing.

[2015-09-18 09:33] KevinGurden commented on #693
Bruno, it was a while ago but I did get it working (LocalNotifications). I
don't have the working code anymore I'm afraid.
Kevin

On Thu, Sep 3, 2015 at 5:55 PM bruno-serfe <notifications@github.com> wrote:

[2015-09-18 11:46] bruno-serfe commented on #693
Hi Kevin, thanks anyway, I've found the solution using this new plugin from phonegap https://github.com/phonegap/phonegap-plugin-push I hope this also works for others.

Best regards,

[2015-09-18 12:04] gortok commented on #693
@bruno-serfe I added support for the new plugin in #984, also covered in issue #963.

[2015-09-18 18:27] dcp3450 opened #985 "Cordova File Transfer creates the empty file then stops"
I have an object with file data I generate in a function that's structured like this:

[code]
There's about 188 in total right now.

I run a second function that I pass the object to that starts from the bottom up, extracts the location, creates the directory, then passes data to a function to process the download. Once the download is complete it's supposed to remove the current item from the obj

[2015-09-18 22:19] dcp3450 commented on #985
Yeah... I just needed to restart the computer..

[2015-09-18 22:19] #985 closed

[2015-09-19 07:54] askannan commented on #430
same issue as mica16... Is there a way out, or is there some other plugin that I can use?

[2015-09-21 05:34] razmik commented on #963
Appreciate for your work @gortok

Possible to let me know when the new ngCordova plugin will be available for new phonegap-plugin-push which can be work with iOS 9 ?

Thanks in advance.

[2015-09-21 11:29] gortok commented on #963
@razmik it's available now if you use bower's branch resolution against 'Dev-next', I'm currently running against Dev-next for our production work. I'll likely push out a release Tuesday or Wednesday of this week, depending on feedback.

[2015-09-21 11:32] paulogr commented on #963
hi, plz. Is this new version compatible with Ionic Push Service? Thanks.

[2015-09-21 11:36] gortok commented on #963
@paulogr I'm not qualified to answer that. We have parse for our backend push (ionic push wasn't out yet) and I modified the push plugin to work with parse; I don't know if something similar works with the ionic push plugin or if you can use it out of the box. @mhartington?

[2015-09-21 11:48] Slavrix commented on #963
Hey @gortok just a question on how to use the $cordovaPushV5 correctly.
its saying that when i run $cordovaPushV5.register.then(onSucess); that there is no then, even though it is a promise.

im calling $cordovaPushV5.initialize(options);
first and i get a successful response from that, and i run the register inside the onSuccess function.

[2015-09-21 13:24] gortok commented on #966
@ptarjan That's the right place; I hadn't been using the release function; I should have been.  For 0.1.21-alpha I'll make sure to use that functionality. Sorry about that.

[2015-09-21 18:52] symbiat opened #994 "The `find()` method cannot be called without any parameters"
The example on the ngCordova site (http://ngcordova.com/docs/plugins/contacts/) shows a `getAllContacts()` method that uses the contacts' plugin `find()` method without any parameters. This doesn't seem to work. I am using Cordova 4.3, cordova-plugin-contacts 1.1.0, ngCordova 0.1.19 and Ionic 1.0.

[2015-09-21 19:02] symbiat commented on #994
This worked for me:
[code]

[2015-09-22 08:22] Kratos-SA opened #996 "Camera crashing app"
The camera works great on newer devices like samsung S5; but on crashes on less advanced phones. the phone its crashing on is running android 4.4.4 is there anything I can do to fix this?

I have read up and it seems that this is a plugin that is supposed to stop the app being closed by android. https://code.google.com/p/foreground-camera-plugin/. But which plugin do I use?

[2015-09-22 16:42] stevenaanen opened #997 "CordovaKeyboard does not work in latest plugin version"
Keyboard plugin in it's latest version 1.0.6 changed the package name from `com.ionic.keyboard` to `ionic-plugin-keyboard`, and the Github repo URLs have changed as well. This seems to result in runtime errors and the calls to `$cordovaKeyboard` fail.

Small note: the authors of the [plugin](https://github.com/driftyco/ionic-plugin-keyboard) did not tag the latest version, so it's only in the `pac

[2015-09-22 16:55] stevenaanen commented on #997
These are the specific errors I get during runtime:

[2701:1373169] ERROR: Method 'init:' not defined in Plugin 'Keyboard'
[2701:1373169] -[CDVCommandQueue executePending] [Line 159] FAILED pluginJSON = ["Keyboard1626996265","Keyboard","init",[]]

[2015-09-23 07:34] 5amfung opened #998 "Bug: Event is not included in the $cordovaKeyboard:show broadcast."
Should I add `event` to `keyboardShowEvent()` and `$broadcast()`?

https://github.com/driftyco/ng-cordova/blob/master/src/plugins/keyboard.js#L8

    var keyboardShowEvent = function (event) {
      $rootScope.$evalAsync(function () {
        $rootScope.$broadcast('$cordovaKeyboard:show', event);
      });
    };

When the keyboard opens, it does a $broadcast, but the original event object is not

[2015-09-23 15:15] diegognt commented on #60
[code]

I got:

TypeError: Cannot read property 'type' of undefined
    at Object.getNetwork (http://localhost:8100/lib/ngCordova/dist/ng-cordova.js:5472:36)
    at Object.t [as thereIsCellConnection] (http://localhost:8100/dist/app.js:1:7163)
    at i (http://localhost:8100/dist/app.js:1:24049)
    at new e (http://localhost:8100/dist/app.js:1:24360)
    at invoke (http://localhost:8100/lib/ionic

[2015-09-23 21:05] ptarjan commented on #966
@gortok no problem, I just like changelogs when updating

[2015-09-23 21:05] #966 closed

[2015-09-24 05:57] scripterkaran opened #1001 "$cordovaSQLite Mocks needed for Unit Testing."
Is there any roadmap where this will be implemented ?

[2015-09-24 20:13] jonalling opened #1002 "Documentation error on Device-Motion"
Documentation lists this as the installation line,

    cordova plugin add org.apache.cordova.device-motion

But it should be this according to the official docs and a warning during installation,

    cordova plugin add cordova-plugin-device-motion

[2015-09-24 20:16] jessiahr opened #1003 "$cordovaCamera broken"

[2015-09-24 22:30] hlopezvg commented on #641
@bnorrell Thank you, that did the trick for me.

[2015-09-25 04:18] Slavrix commented on #963
in the dev-next branch, does the module.js need the 'ngCordova.plugins.push_v5' added to it for it to work correctly?

[2015-09-26 12:08] vladipus commented on #766
This issue seems to have been resolved.

[2015-09-27 02:18] 5amfung commented on #998
Anyone could comment on this?

[2015-09-27 06:04] fxckdead commented on #997
@stevenaanen did you found some solution to this? ):

[2015-09-28 09:17] stevenaanen commented on #997
@fxckdead not yet, I didn't dive into how cordova plugins are structured so I'm not sure, but I guess it has something to do with [this commit](https://github.com/driftyco/ionic-plugin-keyboard/commit/b460a7219c7272ad9f086d9adc012f047dd7687c) from the plugin.

For my project I just downgraded the plugin to 1.0.4 for the moment to keep it working.

[2015-09-28 10:51] razmik commented on #963
@gortok Hi again, any updates on pushing next version to production soon?

"I'll likely push out a release Tuesday or Wednesday of this week, depending on feedback."

[2015-09-28 15:39] VincentPuget commented on #838
+1

[2015-09-28 20:37] matiastucci commented on #454
I just made a custom build and this is still happening. I fixed it adding `ngCordova.plugins` to my plugin

[2015-09-28 22:20] EduardoNE opened #1009 "Facebook Multiple dex files"
Using the Facebook plugin on ios works fine, on android i get this:

UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files define Landroid/support/annotation/AnimRes;
	at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
	at com.android.dx.merge.DexMerger.getSortedTypes(DexMerger.java:554)
	at com.android.dx.merge.DexMerger.mergeClassDefs(DexMerger.jav

[2015-09-29 02:37] lastmj opened #1010 "writeFile and readAsText error: wrong type for parameter "path""
When I try to run $cordovaFile.writeFile or $cordovaFile.readAsText, as such:

    $ionicPlatform.ready(function() {
				$cordovaFile.writeFile(cordova.file.externalRootDirectory + 'Surveyor', 'temp.html', 'text to write', true)
				.then(function (success) {
					alert('success ' + success.toString());
				}, function (error) {
					alert('error ' + error.toString());
				});
			});

 I keep gett

[2015-09-29 06:11] blakedietz commented on #63
If you're coming here from using the ionic push tutorial @molerat619 's solution works.

[2015-09-30 08:13] jskrzypek commented on #963
@Gortok does your plugin only work with parse? This means that to use a different baas or something like node-apn I'll have to roll my own wrapper for the phonegap-push-plugin?

[2015-09-30 12:56] gortok commented on #963
the wrapper here works with the push plugin. i didn't have to change this wrapper on my own repo that allows for it to integrate with parse because parse requires changes to the underlying plugin to work, not the wrapper. I don't know what other BaaS's do, so I can't speak to their needs for the underlying plugin.

[2015-09-30 18:48] lastmj commented on #1010
This is actually not an issue, on closer inspection I was passing in a parameter incorrectly.

[2015-09-30 18:48] #1010 closed

[2015-09-30 19:21] Stajor commented on #8
+1

[2015-09-30 23:55] alexkavon commented on #8
Here's a nice work around I found for this recently:
http://stealthcode.co/multiple-calls-to-ionicplatform-ready/

[2015-10-01 06:36] mayurbaldha opened #1012 "can't pass parameters with file transfer Plugin Parameter at http://ngcordova.com/docs/plugins/fileTransfer/"
at https://github.com/apache/cordova-plugin-file-transfer i can pass parameters {value1:test,value2:param}
with image File

var win = function (r) {
    console.log("Code = " + r.responseCode);
    console.log("Response = " + r.response);
    console.log("Sent = " + r.bytesSent);
}

var fail = function (error) {
    alert("An error has occurred: Code = " + error.code);
    console.log("upload erro

[2015-10-01 08:35] vdeep commented on #63
+1 for @molerat619 's solution

[2015-10-01 12:54] ymc-sise commented on #997
Same error for me. Obviously I do a downgrade now.

[2015-10-01 21:07] EricDosReis opened #1013 "Cordova Toast $state.go don't works when success"
Hi guys, thanks for building ng-cordova.

I'm trying to run $state.go when success, this is my code:

[code]

[2015-10-01 22:02] EricDosReis commented on #1013
Sorry, I forgot to declare $state dependency.

[2015-10-01 22:02] #1013 closed

[2015-10-02 07:56] neoadventist commented on #926
@root-io  I stopped using this and just wrote the native JS. wasn't too difficult.

[2015-10-02 17:42] jonalling commented on #981
As a workaround for now I was able to get startNotification to work in a controller using $scope.$apply in the callback. I'm skipping ngCordova for this function for now.

[code]

[2015-10-02 18:10] don commented on #981
@jonalling thanks for the update. I think skipping ngCordova for notifications is the best solution for now.

[2015-10-03 08:43] gate3 commented on #745
For anybody that hasn't found a solution to this. I fixed mine by editing the ng-cordova.js and using that file instead. What I did was I created a variable global to the file transfer function and once upload or download creates a new instance of the filetransfer object, I copy the object into the global variable. I then create an abort function and call abort on the global variable, since it now

[2015-10-03 13:52] gortok commented on #994
You'd have to show what you code you tried with the empty `find` that caused an issue. We're currently using the empty find and haven't encountered an issue with it.  See also, this commit: https://github.com/driftyco/ng-cordova/commit/ebac7e53f27ff3f839540757874f9d2cc088bf7c

[2015-10-05 15:08] alexklibisz commented on #1009
I believe that this issue is related: https://github.com/Wizcorp/phonegap-facebook-plugin/issues/992
Specifically, see this comment and down: https://github.com/Wizcorp/phonegap-facebook-plugin/issues/992#issuecomment-126502613

It looks like it's a matter of having differing Android dependencies between the Facebook and Push plugins.

I was able to resolve these build problems by switching to the

[2015-10-05 15:41] alexklibisz commented on #963
@gortok I'm a bit of a novice with this stuff. How would I get the specific build/version that incorporates this change? It looks like the last release on the releases page was in May.

[2015-10-07 18:42] EduardoNE commented on #1009
i've changed all my solution, now i'm doing myself the validation and all things attached to login...

[2015-10-07 18:43] EduardoNE commented on #1009
what is better, close the issue or leave this open?

[2015-10-07 20:09] mario-aleo opened #1016 "listEventinRange Odd Date Return"
Hello,

I wish to know what is the type of the dates callback from listEventinRange, i'm receiving odd numbers, but I need to show this information.

Thanks.

[2015-10-08 09:14] JerryBels commented on #963
+1

[2015-10-08 13:02] fazermokeur commented on #963
If you're using bower, you could install specific version using #numVersion behind the plugin name:
[code]

[2015-10-08 15:55] root-io opened #1020 "dev-next ranging multiple beacons"
[code]

Hey @DanailMinchev I'm not able to ranging multiple beacons with android, not sure if I did something wrong :)

https://github.com/petermetz/cordova-plugin-ibeacon/issues/25

[2015-10-09 00:01] CarolinaKinetic commented on #398
Look at shakib's response here: http://stackoverflow.com/questions/30159816/n-sqliteplugin-is-undefined-in-ionic-framework

[2015-10-09 17:24] jonathanpalma opened #1021 "Custom build is not injecting correct modules"
I tryed to build my own ngCordova module to avoid load some modules I won't use. So, I used the official site <a href="http://ngcordova.com/build/">ngCordova: Custom Build</a> but when I inject the ngCordova it was showing this

![screenshot from 2015-10-09 11 09 27](https://cloud.githubusercontent.com/assets/12414771/10400491/3f7587d4-6e76-11e5-86b8-9254ba3c7ff8.png)

I could see that ngCordova.p

[2015-10-10 12:28] martinjbaker opened #1022 "Install docs on $cordovaDialogs needs updating"
http://ngcordova.com/docs/plugins/dialogs/

says install is:

    cordova plugin add org.apache.cordova.dialogs

but a warning is shown, when this is run. It should say:

    cordova plugin add cordova-plugin-dialogs

[2015-10-12 07:34] raphaeldas commented on #963
Hi, i'm new with cordova, angular and that stuff. will there be an instruction in the ngcordova docs soon?

[2015-10-12 08:02] s1lviu opened #1024 "Ionic Framework: Facebook does not sending callback"
I use Ionic framework with ngCordova plugin. I have a button in my app that calls a facebook login function. All works fine on browser, but not on native Android device with Facebook app installed.

At first press on facebook login button (on device) the Facebook authorize page is displayed in app. I press OK, redirects me back to app, but nothing.

At second press on facebook login button, all wo

[2015-10-12 15:29] trepafi opened #1025 "Crash when using $cordovaContacts.pickContact()"
I'm getting a crash when using `$cordovaContacts.pickContact()`
[code]

The crash only happens on iOS9 when the picked contact is a 'linked one'
Found [this related treat](https://forums.developer.apple.com/thread/11354) on apple dev unfortunately without a solution

My app details are as follows:

[code]

Any clue how I could fix this issue?

[2015-10-12 18:05] javacado opened #1027 "How I got CordovaBadge to work"
Hello. I am not entirely sure if this is accurate since I made a few edits trying to get the plugin to work correctly, but just in case:

I couldn't get cordovaBadge to work until I changed this line in ng-cordova.js

    promptForPermission: function () {
        return cordova.plugins.notification.badge.promptForPermission();
      },

... changed to

    promptForPermission: function () {

[2015-10-13 03:35] sylfree9999 commented on #172
I bumped into the same situation before. You should use bower to install the ngCordova like http://ngcordova.com/docs/plugins/contacts/, after installing, you will find the min.js is under some lib/ngCordova/dist file. Remember to reference it before cordova.js and after angular.js. Good luck!

[2015-10-13 07:15] timoweiss commented on #1022
:+1: you can find the documentation on the gh-pages branch:
https://github.com/driftyco/ng-cordova/tree/gh-pages/docs/plugins
Maybe you can file a PR :)
If you can't let me know, I'll do it.

[2015-10-13 11:37] sgentile commented on #8
I've wasted hours here, why would all the examples show ,

ie.  if (window.cordova && window.cordova.plugins && window.cordova.plugins.Keyboard) {
                cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
                cordova.plugins.Keyboard.disableScroll(true);

            }

If none of the plugins are loaded on $ionicPlatform.ready ?   when my app starts I need to register no

[2015-10-13 11:54] sgentile opened #1028 "Plugins not available after $ionicPlatform.ready"
https://github.com/driftyco/ng-cordova/issues/860 seems to imply it would work, but it's not working for me:

[code]

the plugin is never available

I am trying to setup and configuration localnotifications on ready and $window.cordova is always undefined

[2015-10-13 13:44] quimarche opened #1029 "PushPlugin V5, Parse.com, and GCM"
Hi all

I'm pulling my hair out here trying to get an Android app registered with Parse.com. It works fine with iOS, but I just can't seem to get the registration id uploaded, hence no push notifications flowing out.

Is this all wrapped up and complete? Is there still work to do? What bit of the chain am I missing?

[2015-10-13 14:10] gortok commented on #1029
I've got a Parse.com plugin for Push; and it works with iOS; but I haven't tried using it with Android.  What   plugin are you using (not the wrapper, but the plugin) to integrate with Parse.com?

The one I'm using is not open source yet; although I need to open source it.

[2015-10-13 14:17] quimarche commented on #1029
Hi

I'm using the new (non-deprecated) one (ionic plugin add phonegap-plugin-push aka https://github.com/phonegap/phonegap-plugin-push).

It's working just fine on iOS, but I'm seeing nothing on the Android side. The registration which returns an iOS device token is returning nothing GCM-related. And neither seem to be responding to notifications.

[2015-10-13 20:20] penrillian-chrisa commented on #1029
Okay, so I've reverted to the deprecated PushPlugin, and the standard ngCordova 0.1.20-alpha release and I'm getting GCM notifications, but only in the foreground.

Does anyone know if/how I can get Android notifications when the app is in the background?

[2015-10-14 01:06] softBarbarian commented on #1029
Is you app crashing whe notification is received while app is in the background? If so android code might me missing a class I have seen this before

[2015-10-14 13:19] smajl commented on #172
Don't make the same mistake as me: make sure you use `bower install ngCordova` NOT! `bower install ng-cordova`

[2015-10-14 17:09] phanthinh opened #1030 "date picker default time is current time not the field value"
Dear!!

I using http://ngcordova.com/docs/plugins/datePicker/ . Seem all work fine if i not tried set default value for datepicker as well

Example:
Date Default: 2015-10-10
Then i choice: 2015-10-20
Then i click on the datepicker, it's should 2015-10-20 but i saw date default at here

Can you help me for this??

Best regards,

[2015-10-14 17:09] gortok commented on #1030
Can you show the code you're using to do this?

[2015-10-14 17:13] phanthinh commented on #1030
@gortok

I show code to below, help me review if not ok

self.optionsAndroidPicker = {
					date: self.date,
					mode: 'date', // or 'time'
					minDate:  self.date.valueOf(),
					allowOldDates: true,
					allowFutureDates: false,
					doneButtonLabel: 'DONE',
					doneButtonColor: '#F2F3F4',
					cancelButtonLabel: 'CANCEL',
					cancelButtonColor: '#000000'
				};
				document.addEventListener

[2015-10-15 13:24] ykarthikreddy18 commented on #743
Did anybody got the solution for this problem. I'm also facing the same problem.

[2015-10-15 15:31] DanailMinchev commented on #1020
@root-io

`brIdentifier` in your for loop must be unique:
[code]

[2015-10-15 22:24] s1lviu commented on #1024
Working after calling login function again on error at facebook first login.

[2015-10-15 22:24] #1024 closed

[2015-10-16 07:51] tezlopchan opened #1031 "How Can i use com.doogle.audiotoggle plugin with ngCordova?"
How Can i use com.doogle.audiotoggle plugin with ngCordova?

[2015-10-17 04:12] ambrosiorafa commented on #172
Hey, Thanks a lot **maikokuppe**!
You solved my problem!

[2015-10-18 01:50] huangyanxiong01 opened #1035 "Contact widget issue"
[code]

###### error
[code]
###### correct
[code]

[2015-10-18 11:59] onegreek opened #1036 "Instagram plugin iOS9 support"
Hi,
The instagram plugin is working smoothly on previous version of iOS, but once upgrade to iOS9 it keeps returning installed false even the Instagram app is already installed.
Any idea about that?

[2015-10-18 12:38] onegreek commented on #1036
I think it's solved now. I was using an old version of the plugin (0.4.1), but once updated the plugin (0.5.2) it's ok.

[2015-10-18 12:38] #1036 closed

[2015-10-19 09:40] viyancs commented on #576
I have this  problem too.
@chaiyitsheng  solution is worked , but will be little problem for the pause event then play again , audio will be start form beginning.

here my solve code maybe can be helpfull.

[code]

[2015-10-19 12:45] brodybits commented on #719
The code was fixed by PR #889, no need to fix the document any more. Please close this one!

[2015-10-21 12:44] digitalbath commented on #743
I had this problem, you need to add the whitelist plugin to the project and this to your main html file `<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">`

[2015-10-21 14:51] SergeyKuzmich opened #1037 "Instagram sharing"
Hi

I'm using $cordovaInstagram for sharing images captured from camera or chosen from library.
And I found a strange behavior (may be bug):
I use input:file to choose image, it goes to web-server (script makes watermark on image), than it returns as base64 string and I send it to Instagram. It works fine when I choose image from library to upload, but when I capture image $cordodaInstagram opens

[2015-10-21 15:32] s3rg1 opened #1040 "Media getDuration is not working yet"
Hello,

According to the documentation the getDuration method ($cordovaMedia) is not working yet. Indeed, it's available but it does not work.
Is there any forecast regarding when this feature will be added? Meanwhile, is there any workaround I could use?

Thanks!
Sergi

[2015-10-23 16:14] deepeshsunku commented on #1025
I'm having this issue too. But only on an iPhone 5s running on iOS9. Seems to be working fine on an iPhone 6. Haven't tested it on other devices.

[2015-10-23 16:15] gortok commented on #1025
I haven't tried this on iOS9 yet; I will. But it looks like the underlying plugin is the issue.

[2015-10-25 16:14] randdusing opened #1047 "$cordovaDatePicker Issue"
Not sure if this more of an issue of the actual plugin or with the wrapper. When I cancel/clear a datepicker box in iOS, the success function is called with a date value of null. When I cancel a datepicker box in Android, the success function is never called. It looks like Android uses the error function instead, but the $cordovaDatePicker only wraps the success function. Is this intended? It seem

[2015-10-26 09:53] ykarthikreddy18 commented on #743
Hi digitalbath, I addded your meta tag in my html file.. Eventhough it is showing timeout error... If the internet connection is on with gps , the location is shown..But without internet it is not fetching the location.

[2015-10-26 17:46] jabas06 opened #1048 "network information plugin questions"
Hello,

I know this repo just contains angular wrappers for the cordova plugins, but I hope you can clarify something for me. The description of the network plugin says this:
`This plugin provides an implementation of an old version of the Network Information API `

What does `old version` means?

Exists a newer plugin?

Could this plugin not work well in modern devices because they are using a ne

[2015-10-28 04:18] cnexans commented on #469
as @bang88 said,  its unnecessary warp it as a plugin. In the project I'm building I just coded a factory for localstorage, but you don't have to do that. In your controller

myApp.controller('myController', [ some, dependencies, $window, function(some, dependencies, $window) { ... } ]);

[2015-10-28 14:25] javalight opened #1050 "Contacts.js find method crashs if no args given"
In the file https://github.com/driftyco/ng-cordova/blob/master/src/plugins/contacts.js for the "find" method  the docs, many tutorials and sites say that is possible to add no args to this method example use http://ngcordova.com/docs/plugins/contacts/.

My code:
$cordovaContacts.find()...

It doesnt work for me i get the error:
Uncaught TypeError: Cannot read property 'fields' of undefined

Soluti

[2015-10-28 14:32] javalight commented on #1035
The correction does not work for me i get error:

Uncaught TypeError: Object.keys called on non-object

Correct add empty array:

[code]

[2015-10-28 17:13] philmerrell commented on #963
Is there an update on this or an ETA for when it will be merged in?  Is there something holding it back?

[2015-10-28 17:22] gortok commented on #963
@philmerrell Was hoping for more feedback than just my usage of it.

[2015-10-28 17:30] philmerrell commented on #963
@gortok Cool.  I'll lend a hand.  I'm currently implementing Push Notifications in an Ionic app using Amazon SNS.  I'll let you know how it goes.

[2015-10-29 09:34] jskrzypek commented on #963
@philmerrell, nice! We're building the stack :beers:

[2015-10-29 12:49] fazermokeur commented on #963
@gortok We use your fix from and it works fine \o/
The only point is that we don't receive error message whenit fails to register app when testing on IOS emulator. Not a major point, it could be specified in the doc.

[2015-10-29 21:20] philmerrell commented on #963
@jskrzypek :beers: cheers!

@gortok: It works great. Successfully tested on both Android and iOS.  The underlying plugin has changed enough to where example code may need to be updated, but maybe you've already done that, I haven't looked.

The biggest differences, which I'm sure you're well aware of, are sending one options object (rather than a platform specific object) when initializing:
[code]

[2015-10-31 02:42] lawsonk1215 commented on #1035
Different for me. Correct way was an empty object.

[code]

[2015-11-01 21:39] evgd commented on #963
Hi @gortok,
Thank you for your integration with new push plugin!
I tested it and I was a bit confused with implementation...
Here is my PR.
I wanted to keep it simple and merged "initialize" and "register" method because in common case you will call them sequentially.
Possible use case of "initialize" without "register" - unregistration but it's not the case with current push plugin - https://gith

[2015-11-02 16:59] philmerrell commented on #963
@evgd

I totally see what your saying in terms of merging the 'init' and 'registration' methods, but since this is a wrapper for the 'phonegap-plugin-push', I'd personally like to see consistency between the methods in the plugin and the ngCordova wrapper.

I think it could also cause confusion to have the wrapper diverge in functionality from the plugin, but that's just my 2 cents.  Often I find

[2015-11-02 22:12] evgd commented on #963
@philmerrell
Thank you for feedback. I agree with you that there is inconsistent with phonegap-plugin-push API. I thought that it would be handy to have "init" and "registration" in single method. We should consider that phonegap-plugin-push API consists of "init" method and "registration", "notification" and "error" events which means to keep it fully consistent there should be only "init" and "$

[2015-11-03 07:54] raphaeldas commented on #963
can somebody post a little example with the new syntax? I still don't understand what has changed, sorry!

[2015-11-03 08:42] ronyrun commented on #963
+1

[2015-11-03 15:49] philmerrell commented on #963
The main difference is that you have to pass in an `options` object to the `initialize` method first.  Then you can call `register` to get a registration id.

[code]
Now you can do this:

[code]

[2015-11-03 17:14] ronyrun commented on #963
Thank you

[2015-11-03 19:31] evgd commented on #963
@ronyrun complete example for this branch
[code]

[2015-11-03 21:54] NicoJuicy opened #1054 "Support with Cordova 5.3.1"
I can't seem to find it anywhere , but is ngCordova supported with Cordova 5.3.1?

[2015-11-04 08:38] Duovili opened #1055 "injector error for facebook connect plugin"
I am trying to inject $cordovaFacebookProvider into my config of my app but I am getting an injector error. Is there a new name I am supposed to use?

[2015-11-04 11:57] scripterkaran opened #1056 "$rootScope.$on('$cordovaPush:notificationReceived') not fired in Manual bootstrap of angular"
a very interesting bug which I think should be looked at.

I am using manual bootstrap of angular to document, and calls the push notification's register function.

document.addEventListener('deviceready', function onDeviceReady() {
                angular.bootstrap(document, ['SomeApp']);
 }, false);

Everything works great , my app is logged in. I even get notification in  $rootScope.$on('$cordo

[2015-11-04 21:26] jasdeepkhalsa commented on #867
I can confirm this also works with the latest Cordova CLI 5.3.3. Updating with `npm update -g cordova` worked for me!

[2015-11-05 09:23] Zorgatone opened #1057 "$cordovaStatusbar syles 2 and 3 not working (black)"
I am able to use only $cordovaStatusbar.style(n) for n == 0 || n == 1.
My app is loading with lightcontent, and I can the statusbar to black with n = 0, and switch it back to lightcontent with 1. But n = 2 and n = 3 aren't doing anything..

(Even if I have `<preference name="StatusBarStyle" value="lightcontent" />` in the config.xml I'm always getting the black statusbar with the default style(0),

[2015-11-06 15:17] Stefflan00 commented on #1025
having the same issue here with an iPhone 6s

[2015-11-09 04:19] schill32 commented on #560
Same here.  I found the cordova-plugin-tts as well and was hoping to use it for a project.

[2015-11-09 15:12] ajeesh13 commented on #578
@visnupriya I have the same problem with corodova-oauth while using fb and g+ login.

In fb it behaved like First login click fails even though I have entered the correct user name and password.For the second login click means I didn't change any value in user name and password the pop up will turned into facebook.There I can see my posts and all other stuff.My ionic app will be remain in back of

[2015-11-09 19:21] danicomas opened #1059 "WriteFile passing base64 data"
By now it only accepts text.

[2015-11-09 22:02] munzx commented on #743
if anyone is facing same issue and using ionic then just remove and install the plugin using ionic not cordova , why?... not sure! but i think it only works if added to package.json and it wont be added unless we run ionic not cordova , not sure but anyway it works for me!
so do this,
first check if it exists
`ionic plugin list`
if yes then remove it using ionic
`sudo ionic plugin rm org.apache.co

[2015-11-10 07:48] phanthinh opened #1060 "Title not good "Geolocation plugin""
Dear all

I'm using plugins http://ngcordova.com/docs/plugins/geolocation/2 then saw title saw not good

https://cdn.discourse.org/ionicframework/uploads/default/optimized/3X/d/1/d1b3dbcdf066d1e17c6b5d14e903a8ac3cb60396_1_456x500.png

Best regards,

[2015-11-10 08:45] billmn commented on #1056
Same for me, any solution for this?